
/**
 * @summary Sets styles to search box, things like width and such
 * @selector .slds-app-launcher__header-search
 * @restrict .slds-app-launcher div
 * @deprecated
 */
.slds-app-launcher__header-search {
	flex: 0 1 25rem;
	padding: 0 1rem;
}

/**
 * @summary Defines the body region of the app launcher modal
 * @selector .slds-app-launcher__content
 * @restrict .slds-app-launcher div
 * @deprecated
 */
.slds-app-launcher__content {
	flex: 1 1 auto;
}
.slds-app-launcher__content .slds-section__title-action {
	background: transparent;
}

/**
 * @summary Tile card that containes the just app icon and title
 * @selector .slds-app-launcher__tile_small
 * @restrict .slds-app-launcher__tile
 * @deprecated
 */
.slds-app-launcher__tile_small,
.slds-app-launcher__tile--small {
	flex-direction: column;
	border: 0;
	border-radius: 0;
	text-align: center;
	cursor: pointer;
}
.slds-app-launcher__tile_small:hover .slds-app-launcher__tile-figure_small,
.slds-app-launcher__tile_small:hover .slds-app-launcher__tile-figure--small,
.slds-app-launcher__tile_small:focus .slds-app-launcher__tile-figure_small,
.slds-app-launcher__tile_small:focus .slds-app-launcher__tile-figure--small,
.slds-app-launcher__tile--small:hover .slds-app-launcher__tile-figure_small,
.slds-app-launcher__tile--small:hover .slds-app-launcher__tile-figure--small,
.slds-app-launcher__tile--small:focus .slds-app-launcher__tile-figure_small,
.slds-app-launcher__tile--small:focus .slds-app-launcher__tile-figure--small {
	border-color: #1589ee;
}

/**
 * @summary App image or icon of a small tile
 * @selector .slds-app-launcher__tile-figure_small
 * @restrict .slds-app-launcher__tile-figure
 * @deprecated
 */
.slds-app-launcher__tile-figure_small,
.slds-app-launcher__tile-figure--small {
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
}

/**
 * @summary App title, no description
 * @selector .slds-app-launcher__tile-body_small
 * @restrict .slds-app-launcher__tile-body
 * @deprecated
 */
.slds-app-launcher__tile-body_small,
.slds-app-launcher__tile-body--small {
	background: transparent;
	padding: 0.5rem 0;
	border: 0;
	border-radius: 0;
}

/**
 * @name base
 * @summary Tile cards that contains the app information, the icon and description
 * @selector .slds-app-launcher__tile
 * @restrict div
 * @support dev-ready
 * @variant
 */
.slds-app-launcher__tile {
	display: flex;
	align-items: stretch;
	margin: 0.5rem 0;
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
	cursor: move;
	/**
   * @summary Add styles associated with drag and drop of a tile
   * @selector .slds-is-draggable
   * @restrict .slds-app-launcher__tile
   */
	/**
   * @name grabbed
   * @summary Add styles associated with a tile being grabbed in drag and drop interaction
   * @selector .slds-is-grabbed
   * @restrict .slds-app-launcher__tile
   * @modifier
   * @group interactions
   */
}
.slds-app-launcher__tile:hover,
.slds-app-launcher__tile:focus {
	outline: 0;
	border-color: #1589ee;
}
.slds-app-launcher__tile.slds-is-draggable .slds-app-launcher__tile-figure {
	padding-bottom: 0.25rem;
}
.slds-app-launcher__tile.slds-is-grabbed {
	transform: rotate(3deg);
}

/**
 * @summary App image or icon
 * @selector .slds-app-launcher__tile-figure
 * @restrict .slds-app-launcher__tile div
 */
.slds-app-launcher__tile-figure {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0.75rem;
	color: white;
	border-radius: 0.25rem 0 0 0.25rem;
	text-align: center;
}

/**
 * @summary App title and description
 * @selector .slds-app-launcher__tile-body
 * @restrict .slds-app-launcher__tile div
 */
.slds-app-launcher__tile-body {
	flex: 1 1 auto;
	background: #f3f2f2;
	padding: 0.5rem 0.75rem;
	border-radius: 0 0.25rem 0.25rem 0;
}
