/**
 * An image is the preferred format for an avatar
 *
 * @summary Creates an avatar component
 * @name base
 * @selector .slds-avatar
 * @restrict div, span, a
 * @support dev-ready
 * @variant
 */
.slds-avatar {
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0.25rem;
	line-height: 1;
	font-size: 0.875rem;
	color: white;
	/**
   * @name Small Group Image
   * @summary Uses the small group image as the avatar icon
   * @selector .slds-avatar_group-image-small
   * @restrict .slds-avatar
   */
	/**
   * @name Medium Group Image
   * @summary Uses the medium group image as the avatar icon
   * @selector .slds-avatar_group-image-medium
   * @restrict .slds-avatar
   */
	/**
   * @name Large Group Image
   * @summary Uses the large group image as the avatar icon
   * @selector .slds-avatar_group-image-large
   * @restrict .slds-avatar
   */
	/**
   * @name Small User Profile Image
   * @summary Uses the small user avatar image as the avatar icon
   * @selector .slds-avatar_profile-image-small
   * @restrict .slds-avatar
   */
	/**
   * @name Medium User Profile Image
   * @summary Uses the medium user avatar image as the avatar icon
   * @selector .slds-avatar_profile-image-medium
   * @restrict .slds-avatar
   */
	/**
   * @name Large User Profile Image
   * @summary Uses the large user avatar image as the avatar icon
   * @selector .slds-avatar_profile-image-large
   * @restrict .slds-avatar
   */
}
.slds-avatar:hover,
.slds-avatar:focus:hover {
	color: currentColor;
}
/* .slds-avatar.slds-avatar_group-image-small {
	background: url('/assets/images/group_avatar_96.png') top left/cover no-repeat;
}
.slds-avatar.slds-avatar_group-image-medium {
	background: url('/assets/images/group_avatar_160.png') top left/cover no-repeat;
}
.slds-avatar.slds-avatar_group-image-large {
	background: url('/assets/images/group_avatar_200.png') top left/cover no-repeat;
}
.slds-avatar.slds-avatar_profile-image-small {
	background: url('/assets/images/profile_avatar_96.png') top left/cover no-repeat;
}
.slds-avatar.slds-avatar_profile-image-medium {
	background: url('/assets/images/profile_avatar_160.png') top left/cover no-repeat;
}
.slds-avatar.slds-avatar_profile-image-large {
	background: url('/assets/images/profile_avatar_200.png') top left/cover no-repeat;
} */

/**
 * @name x-small
 * @summary Size modifier for avatars - X-Small
 * @selector .slds-avatar_x-small
 * @restrict .slds-avatar
 * @modifier
 * @group size
 */
.slds-avatar_x-small,
.slds-avatar--x-small {
	width: 1.25rem;
	height: 1.25rem;
	font-size: 0.625rem;
}
.slds-avatar_x-small .slds-icon,
.slds-avatar--x-small .slds-icon {
	width: 1.25rem;
	height: 1.25rem;
}

/**
 * @name small
 * @summary Size modifier for avatars - Small
 * @selector .slds-avatar_small
 * @restrict .slds-avatar
 * @modifier
 * @group size
 */
.slds-avatar_small,
.slds-avatar--small {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.625rem;
}
.slds-avatar_small .slds-icon,
.slds-avatar--small .slds-icon {
	width: 1.5rem;
	height: 1.5rem;
}

/**
 * @name medium
 * @summary Size modifier for avatars - Medium
 * @selector .slds-avatar_medium
 * @restrict .slds-avatar
 * @modifier
 * @group size
 */
.slds-avatar_medium,
.slds-avatar--medium {
	width: 2rem;
	height: 2rem;
	font-size: 0.875rem;
}
.slds-avatar_medium .slds-icon,
.slds-avatar--medium .slds-icon {
	width: 2rem;
	height: 2rem;
}

/**
 * @name large
 * @summary Size modifier for avatars - Large
 * @selector .slds-avatar_large
 * @restrict .slds-avatar
 * @modifier
 * @group size
 */
.slds-avatar_large,
.slds-avatar--large {
	width: 3rem;
	height: 3rem;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.25;
}
.slds-avatar_large .slds-icon,
.slds-avatar--large .slds-icon {
	width: 3rem;
	height: 3rem;
}

/**
 * @name circle
 * @summary Make avatar a circle
 * @selector .slds-avatar_circle
 * @restrict .slds-avatar
 * @modifier
 * @group radius
 */
.slds-avatar_circle,
.slds-avatar--circle {
	border-radius: 50%;
}

.slds-avatar_empty,
.slds-avatar--empty {
	border: 1px dashed #dddbda;
}

/**
 * If an image is unavailable, up to two letters can be used instead.
 * If the record name contains two words, like first and last name, use
 * the first capitalized letter of each. For records that only have a
 * single word name, use the first two letters of that word using one
 * capital and one lower case letter. The background color should match
 * the entity or object icon. If no image or initials are available,
 * the fallback should be the icon for the entity or object.
 *
 * @name initials
 * @summary Used for initials inside an avatar
 * @selector .slds-avatar__initials
 * @restrict .slds-avatar abbr
 * @support dev-ready
 * @variant
 */
.slds-avatar__initials {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: auto;
	height: 100%;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
.slds-avatar__initials[title] {
	cursor: default;
	text-decoration: none;
}
.slds-avatar__initials:hover {
	color: white;
	cursor: default;
}

/**
 * @name inversed
 * @summary Used for initials that are dark text on light background
 * @selector .slds-avatar__initials_inverse
 * @restrict .slds-avatar__initials
 * @modifier
 * @group color
 */
.slds-avatar__initials_inverse {
	background-color: #f3f2f2;
	color: #3e3e3c;
	text-shadow: none;
}
.slds-avatar__initials_inverse:hover {
	color: #3e3e3c;
}

/**
 * An image is the preferred format for an avatar
 *
 * @summary Creates an Avatar Group
 * @name base
 * @selector .slds-avatar-group
 * @restrict div, span
 * @support dev-ready
 * @variant
 */
.slds-avatar-group {
	width: 2rem;
	height: 2rem;
	position: relative;
	display: inline-block;
}

/**
* @summary Variant of an Avatar in an Avatar Group
* @name grouped
* @selector .slds-avatar-grouped
* @restrict .slds-avatar-group span
* @variant
*/
.slds-avatar-grouped {
	border: 1px solid white;
	line-height: 0;
	border-radius: 50%;
	background: #34becd;
}

/**
* @summary Variant of an Avatar with inverse background in an Avatar Group
* @name grouped-inverse
* @selector .slds-avatar-grouped_inverse
* @restrict .slds-avatar-grouped
* @modifier
*/
.slds-avatar-grouped_inverse {
	background-color: #f3f2f2;
}

/**
* @summary Modifier for the primary Avatar in an Avatar Group
* @name grouped-primary
* @selector .slds-avatar-grouped__primary
* @restrict .slds-avatar-grouped
* @modifier
*/
.slds-avatar-grouped__primary {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	/**
  * @summary Modifier for the Avatar that contains User Initials in an Avatar Group
  * @name initials
  * @selector .slds-avatar-grouped__initials
  * @restrict .slds-avatar-grouped
  * @modifier
  */
}
.slds-avatar-grouped__primary .slds-avatar-grouped__initials {
	transform: scale(0.64286);
}

/**
* @summary Modifier for the secondary Avatar in an Avatar Group
* @name grouped-secondary
* @selector .slds-avatar-grouped__secondary
* @restrict .slds-avatar-grouped
* @modifier
*/
.slds-avatar-grouped__secondary {
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	top: 0;
	right: 0;
}
.slds-avatar-grouped__secondary .slds-avatar-grouped__initials {
	transform: scale(0.5);
}

/**
* @summary Modifier for the icon Avatar in an Avatar Group
* @name icon
* @selector .slds-avatar-grouped__icon
* @restrict .slds-icon_container
* @modifier
*/
.slds-avatar-grouped__icon {
	height: 100%;
	line-height: 0;
}
.slds-avatar-grouped__icon .slds-icon {
	width: 100%;
	height: 100%;
}

/**
* @summary Creates an extra small Avatar Group
* @name x-small
* @selector .slds-avatar-group_x-small
* @restrict .slds-avatar-group
* @modifier
* @group sizing
*/
.slds-avatar-group_x-small {
	width: 1.25rem;
	height: 1.25rem;
}
.slds-avatar-group_x-small .slds-avatar-grouped__primary {
	width: 1rem;
	height: 1rem;
	/**
    * @summary Modifier for the initials Avatar in an Avatar Group
    * @name initials
    * @selector .slds-avatar-grouped__initials
    * @restrict .slds-avatar__initials
    * @modifier
    */
}
.slds-avatar-group_x-small .slds-avatar-grouped__primary .slds-avatar-grouped__initials {
	transform: scale(0.35714);
}
.slds-avatar-group_x-small .slds-avatar-grouped__secondary {
	width: 0.75rem;
	height: 0.75rem;
}
.slds-avatar-group_x-small .slds-avatar-grouped__secondary .slds-avatar-grouped__initials {
	transform: scale(0.21429);
}

/**
* @summary Creates a small Avatar Group
* @name small
* @selector .slds-avatar-group_small
* @restrict .slds-avatar-group
* @modifier
* @group sizing
*/
.slds-avatar-group_small {
	width: 1.5rem;
	height: 1.5rem;
}
.slds-avatar-group_small .slds-avatar-grouped__primary {
	width: 1.25rem;
	height: 1.25rem;
}
.slds-avatar-group_small .slds-avatar-grouped__primary .slds-avatar-grouped__initials {
	transform: scale(0.47143);
}
.slds-avatar-group_small .slds-avatar-grouped__secondary {
	width: 1rem;
	height: 1rem;
}
.slds-avatar-group_small .slds-avatar-grouped__secondary .slds-avatar-grouped__initials {
	transform: scale(0.35714);
}

/**
* @summary Creates a medium Avatar Group
* @name medium
* @selector .slds-avatar-group_medium
* @restrict .slds-avatar-group
* @modifier
* @group sizing
*/
.slds-avatar-group_medium {
	width: 2rem;
	height: 2rem;
}
.slds-avatar-group_medium .slds-avatar-grouped__primary {
	width: 1.5rem;
	height: 1.5rem;
}
.slds-avatar-group_medium .slds-avatar-grouped__primary .slds-avatar-grouped__initials {
	transform: scale(0.64286);
}
.slds-avatar-group_medium .slds-avatar-grouped__secondary {
	width: 1.25rem;
	height: 1.25rem;
}
.slds-avatar-group_medium .slds-avatar-grouped__secondary .slds-avatar-grouped__initials {
	transform: scale(0.5);
}

/**
* @summary Creates a large Avatar Group
* @name large
* @selector .slds-avatar-group_large
* @restrict .slds-avatar-group
* @modifier
* @group sizing
*/
.slds-avatar-group_large {
	width: 3rem;
	height: 3rem;
}
.slds-avatar-group_large .slds-avatar-grouped__primary {
	width: 2.5rem;
	height: 2.5rem;
}
.slds-avatar-group_large .slds-avatar-grouped__primary .slds-avatar-grouped__initials {
	transform: scale(1);
}
.slds-avatar-group_large .slds-avatar-grouped__secondary {
	width: 1.5rem;
	height: 1.5rem;
}
.slds-avatar-group_large .slds-avatar-grouped__secondary .slds-avatar-grouped__initials {
	transform: scale(0.57143);
}
