/**
 * @selector .slds-card_empty
 * @deprecated
 */
.slds-card_empty .slds-card__body,
.slds-card--empty .slds-card__body {
	text-align: center;
}

/**
* @summary Initializes card
* @name base
* @selector .slds-card
* @restrict article, div, section
* @support dev-ready
* @variant
*/
.slds-card {
	position: relative;
	padding: 0;
	background: white;
	border: 1px solid #e2e2e2;
	border-radius: 0.25rem;
	background-clip: padding-box;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.slds-card + .slds-card {
	margin-top: 1rem;
}

/**
 * @summary Apply the same spacing found on the card header to the card body
 * @selector .slds-card__body_inner
 * @restrict .slds-card__body
 */
.slds-card__body_inner,
.slds-card__body--inner {
	padding: 0 1rem;
}

/**
 * @summary Initializes card header
 * @selector .slds-card__header
 * @restrict .slds-card div
 */
.slds-card__header {
	padding: 0.75rem 1rem 0;
	margin: 0 0 0.75rem;
}

/**
 * @summary Title element within card header
 * @selector .slds-card__header-title
 * @restrict .slds-card__header h2
 */
.slds-card__header-title {
	font-size: 1rem;
	line-height: 1.25;
}

/**
 * @summary Actionable element within the card header title
 * @selector .slds-card__header-link
 * @restrict .slds-card__header h2 a
 */
.slds-card__header-link {
	color: inherit;
	font-weight: 700;
}

/**
 * @summary Initializes card body
 * @selector .slds-card__body
 * @restrict .slds-card div
 */
.slds-card__body {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.slds-card__body:empty,
.slds-card__footer:empty {
	display: none;
}

/**
 * @summary Initializes card footer
 * @selector .slds-card__footer
 * @restrict .slds-card footer
 */
.slds-card__footer {
	padding: 0.75rem 1rem;
	margin-top: 0.75rem;
	text-align: center;
	font-size: 0.8125rem;
	border-top: 1px solid #dddbda;
}

/**
* @summary Actionable element within card footer
* @selector .slds-card__footer-action
* @restrict .slds-card__footer a
*/
.slds-card__footer-action {
	display: block;
}

/**
 * @summary Use class if card consumes any form of a tile
 * @selector .slds-card__tile
 * @restrict .slds-tile
 */
.slds-card__tile {
	margin-top: 0.75rem;
}

.slds-region__pinned-left .slds-card,
.slds-region__pinned-left .slds-card-wrapper,
.slds-region__pinned-left .slds-card_boundary,
.slds-region__pinned-left .slds-tabs_card,
.slds-region__pinned-right .slds-card,
.slds-region__pinned-right .slds-card-wrapper,
.slds-region__pinned-right .slds-card_boundary,
.slds-region__pinned-right .slds-tabs_card {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #dddbda;
	box-shadow: none;
}
.slds-region__pinned-left .slds-card:last-child,
.slds-region__pinned-left .slds-card-wrapper:last-child,
.slds-region__pinned-left .slds-card_boundary:last-child,
.slds-region__pinned-left .slds-tabs_card:last-child,
.slds-region__pinned-right .slds-card:last-child,
.slds-region__pinned-right .slds-card-wrapper:last-child,
.slds-region__pinned-right .slds-card_boundary:last-child,
.slds-region__pinned-right .slds-tabs_card:last-child {
	border-bottom: 0;
}

/**
 * @name wrapper
 * @summary Removes the card look from nested cards and pulls them to the boundary of the card wrapper, making the nested cards look like they are inside of one card
 * @selector .slds-card-wrapper
 * @restrict div
 * @support dev-ready
 * @variant
 */
.slds-card-wrapper {
	padding: 1rem;
	background: white;
	border: 1px solid #e2e2e2;
	border-radius: 0.25rem;
	background-clip: padding-box;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.slds-card-wrapper .slds-card__header,
.slds-card-wrapper .slds-card__body,
.slds-card-wrapper .slds-card__footer {
	padding-left: 0;
	padding-right: 0;
}

.slds-card .slds-card,
.slds-card .slds-card-wrapper,
.slds-card-wrapper .slds-card,
.slds-card-wrapper .slds-card-wrapper,
.slds-modal .slds-card,
.slds-modal .slds-card-wrapper,
.slds-tabs_default .slds-card,
.slds-tabs_default .slds-card-wrapper,
.slds-tabs--default .slds-card,
.slds-tabs--default .slds-card-wrapper,
.slds-tabs_card .slds-card,
.slds-tabs_card .slds-card-wrapper,
.slds-tabs_card.slds-tabs_card .slds-card,
.slds-tabs_card.slds-tabs_card .slds-card-wrapper {
	background: white;
	border: 0;
	box-shadow: none;
}

.slds-card,
.slds-modal,
.slds-tabs_default,
.slds-tabs--default {
	/**
   * @summary Used to bring back the border on a card when needed
   *
   * @selector .slds-card_boundary
   * @restrict .slds-card
   */
}
.slds-card .slds-card_boundary,
.slds-modal .slds-card_boundary,
.slds-tabs_default .slds-card_boundary,
.slds-tabs--default .slds-card_boundary {
	border: 1px solid #e2e2e2;
	border-radius: 0.25rem;
}

/**
 * @summary This class allows default tabs to appear to be in a card
 * @selector .slds-tabs_card
 * @restrict div
 * @internal
 */
.slds-tabs_card,
.slds-tabs_card.slds-tabs_card {
	background: white;
	padding: 0.75rem 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #e2e2e2;
	border-radius: 0.25rem;
}
.slds-tabs_card .slds-card,
.slds-tabs_card .slds-card-wrapper,
.slds-tabs_card.slds-tabs_card .slds-card,
.slds-tabs_card.slds-tabs_card .slds-card-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.slds-tabs_card .slds-card__header,
.slds-tabs_card .slds-card__body,
.slds-tabs_card .slds-card__footer,
.slds-tabs_card.slds-tabs_card .slds-card__header,
.slds-tabs_card.slds-tabs_card .slds-card__body,
.slds-tabs_card.slds-tabs_card .slds-card__footer {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.slds-tabs_card .slds-card__header,
.slds-tabs_card.slds-tabs_card .slds-card__header {
	padding-top: 0;
}

.slds-tabs_card .slds-card_boundary,
.slds-tabs_card.slds-tabs_card .slds-card_boundary,
.slds-card-wrapper .slds-card_boundary {
	border: 1px solid #e2e2e2;
	border-radius: 0.25rem;
}
.slds-tabs_card .slds-card_boundary .slds-card__header,
.slds-tabs_card.slds-tabs_card .slds-card_boundary .slds-card__header,
.slds-card-wrapper .slds-card_boundary .slds-card__header {
	padding: 0.75rem 1rem 0;
}
.slds-tabs_card .slds-card_boundary .slds-card__body_inner,
.slds-tabs_card .slds-card_boundary .slds-card__body--inner,
.slds-tabs_card.slds-tabs_card .slds-card_boundary .slds-card__body_inner,
.slds-tabs_card.slds-tabs_card .slds-card_boundary .slds-card__body--inner,
.slds-card-wrapper .slds-card_boundary .slds-card__body_inner,
.slds-card-wrapper .slds-card_boundary .slds-card__body--inner {
	padding: 0 1rem;
}
.slds-tabs_card .slds-card_boundary .slds-card__footer,
.slds-tabs_card.slds-tabs_card .slds-card_boundary .slds-card__footer,
.slds-card-wrapper .slds-card_boundary .slds-card__footer {
	padding: 0.75rem 1rem;
}
