.tds-color_brand {
	color: #0070d2;
}

.tds-color_midnight {
	color: #16325c;
}

.tds-color_ice {
	color: #aebacc;
}

.tds-color_success {
	color: #048149;
}

.tds-color_destruction {
	color: #c23934;
}

.tds-color_important {
	color: #fb610e;
}

.tds-color_sunshine {
	color: #fdb52b;
}

.tds-color_white {
	color: white;
}

.tds-color_sand {
	color: whitesmoke;
}

.tds-color_fog {
	color: #e2e2e2;
}

.tds-color_granite {
	color: #adadad;
}

.tds-color_meteorite {
	color: #585858;
}

.tds-color_black {
	color: #1e1e1e;
}

.tds-color_disabled {
	color: #585858;
}
