
/**
 * @summary Panel component
 *
 * @name base
 * @selector .slds-panel
 * @restrict div
 * @support dev-ready
 * @variant
 */
.slds-panel {
	background: white;
	border-radius: 0.25rem;
	overflow-y: auto;
	/**
   * Contains sub sections of a panel
   *
   * @selector .slds-panel__section
   * @restrict .slds-panel div
   * @required
   */
	/**
   * Contains form actions at the bottom of a panel
   *
   * @selector .slds-panel__actions
   * @restrict .slds-panel div
   * @required
   */
}
.slds-panel__section {
	padding: 1rem;
}
.slds-panel__actions {
	padding: 0.75rem;
}
.slds-panel.slds-is-editing {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

/**
 * @summary Header element of a panel
 * @selector .slds-panel__header
 * @restrict .slds-panel div
 */
.slds-panel__header {
	display: flex;
	position: relative;
	align-items: center;
	padding: 0.75rem;
	border-bottom: 1px solid #dddbda;
}

/**
 * @summary Modifier that notifies panel header that something other than a title and close button exist
 * @selector .slds-panel__header_custom
 * @restrict .slds-panel__header
 * @modifier
 */
.slds-panel__header_custom {
	padding: 0.75rem 1rem;
}

/**
  * @summary Close button of a panel
  * @selector .slds-panel__close
  * @restrict .slds-panel .slds-button
  */
.slds-panel__close:first-child {
	margin-right: 0.5rem;
}

.slds-panel__close:last-child {
	margin-left: 0.5rem;
}

/**
 * @summary Back button of a panel drilled in
 * @selector .slds-panel__back
 * @restrict .slds-panel .slds-button
 */
.slds-panel__back:first-child {
	margin-right: 0.5rem;
}

.slds-panel__back:last-child {
	margin-left: 0.5rem;
}

.slds-panel__close,
.slds-panel__back {
	flex-shrink: 0;
}

/**
 * @summary Adjusts styling when the title of the header is centered
 * @selector .slds-panel__header_align-center
 * @restrict .slds-panel__header
 * @modifier
 */
.slds-panel__header_align-center {
	padding: 0.75rem 3rem;
}
.slds-panel__header_align-center .slds-panel__header-title {
	text-align: center;
}
.slds-panel__header_align-center .slds-panel__close {
	position: absolute;
	right: 0.75rem;
	left: auto;
	top: 50%;
	margin-top: -0.75rem;
}
.slds-panel__header_align-center .slds-panel__back {
	position: absolute;
	left: 0.75rem;
	right: auto;
	top: 50%;
	margin-top: -0.75rem;
}

/**
 * @summary Body element of a panel
 * @selector .slds-panel__body
 * @restrict .slds-panel div
 */
.slds-panel__body {
	padding: 0.75rem;
}

/**
  * @summary Title of the header panel
  * @selector .slds-panel__header-title
  * @restrict .slds-panel__header h2
  */
.slds-panel__header-title {
	text-align: start;
	width: 100%;
}

/**
 * @summary Modifier that changes the display of a panel to dock to the viewport
 * @selector .slds-panel_docked
 * @restrict .slds-panel
 * @modifier
 */
.slds-panel_docked {
	position: relative;
	min-width: 15rem;
	height: 100%;
	border-radius: 0;
	display: none;
	/**
   * @summary Toggles visibility of panel
   * @selector .slds-is-open
   * @restrict .slds-panel_docked
   */
}
.slds-panel_docked.slds-is-open {
	display: block;
}

/**
 * @summary Modifier that changes the position of a panel to the left
 * @selector .slds-panel_docked-left
 * @restrict .slds-panel_docked
 * @modifier
 */
.slds-panel_docked-left {
	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
}

/**
 * @summary Modifier that changes the position of a panel to the right
 * @selector .slds-panel_docked-right
 * @restrict .slds-panel_docked
 * @modifier
 */
.slds-panel_docked-right {
	margin-left: auto;
	box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
}

/**
 * @summary Modifier that changes the display of a panel to hide out of view and animate in when opened
 * @selector .slds-panel_animated
 * @restrict .slds-tabs-mobile__container .slds-panel
 * @modifier
 */
.slds-panel_animated {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translate3d(120%, 0, 0);
	transition: transform 300ms ease;
	z-index: 9000;
}

.slds-tabs-mobile__container .slds-panel_animated {
	position: fixed;
}

.slds-panel_animated.slds-is-open {
	transform: translate3d(0, 0, 0);
}

/**
 * @name filtering
 * @selector .slds-panel_filters
 * @restrict .slds-panel
 * @variant
 * @support dev-ready
 * @s1 false
 */
.slds-panel_filters,
.slds-panel--filters {
	margin-left: 1rem;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
