/**
 * A dialog popover, `.slds-popover`, can be applied to all variants of a dialog
 * popover. It initiates the styles of the popover and enables `.slds-nubbin` to be applied.
 *
 * A dialog popover requires at least one focusable element.
 *
 * @name base
 * @selector .slds-popover
 * @restrict [role="dialog"], [role="tooltip"]
 * @support dev-ready
 * @variant
 */
.slds-popover {
	position: relative;
	border-radius: 0.25rem;
	width: 20rem;
	min-height: 2rem;
	z-index: 6000;
	background-color: white;
	display: inline-block;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #dddbda;
}

/**
 * @summary Applies syles for primary content area of popover
 * @selector .slds-popover__body
 * @restrict .slds-popover div
 */
.slds-popover__body,
.slds-popover__header,
.slds-popover__footer {
	position: relative;
	padding: 0.5rem 0.75rem;
	word-wrap: break-word;
}

/**
 * @summary Applies styles for top area of popover
 * @selector .slds-popover__header
 * @restrict .slds-popover header, .slds-popover div
 */
.slds-popover__header {
	border-bottom: 1px solid #dddbda;
}

/**
 * @summary Applies styles for footer area of popover
 * @selector .slds-popover__footer
 * @restrict .slds-popover footer
 */
.slds-popover__footer {
	border-top: 1px solid #dddbda;
}

/**
 * @summary Applies styles to center align content for footer area of a form popover
 * @selector .slds-popover__footer_form
 * @restrict .slds-popover footer
 */
.slds-popover__footer_form {
	text-align: center;
	background: #f3f2f2;
	border-radius: 0 0 0.25rem 0.25rem;
}

/**
 * @summary Applies a max-height and vertical scrolling to a popover body
 *
 * @selector .slds-popover__body_small
 * @restrict .slds-popover__body
 * @modifier
 * @group body
 */
.slds-popover__body_small {
	max-height: 15rem;
	overflow-y: auto;
}

/**
 * @summary Close button within a popover
 * @selector .slds-popover__close
 * @restrict .slds-popover button
 */
.slds-popover__close {
	position: relative;
	margin: 0.25rem;
	z-index: 6001;
}

/**
 * @summary Width modifier for popover - small
 * @selector .slds-popover_small
 * @restrict .slds-popover
 * @modifier
 * @group width
 */
.slds-popover_small,
.slds-popover--small {
	max-width: 15rem;
}

/**
 * @summary Width modifier for popover - medium
 * @selector .slds-popover_medium
 * @restrict .slds-popover
 * @modifier
 * @group width
 */
.slds-popover_medium,
.slds-popover--medium {
	min-width: 20rem;
}

/**
 * @summary Width modifier for popover - large
 * @selector .slds-popover_large
 * @restrict .slds-popover
 * @modifier
 * @group width
 */
.slds-popover_large,
.slds-popover--large {
	min-width: 25rem;
	max-width: 512px;
}

.slds-popover[class*='theme_'],
.slds-popover[class*='theme--'] {
	border: 0;
}

.slds-popover *:last-child {
	margin-bottom: 0;
}

/**
 * @summary Modifier for popover to take 100% width
 * @selector .slds-popover_full-width
 * @restrict .slds-popover
 * @modifier
 * @group width
 */
.slds-popover_full-width {
	width: 100%;
}

/**
 * @summary Modifier to hide a popover
 * @selector .slds-popover_hide
 * @restrict .slds-popover
 */
.slds-popover_hide {
	display: none;
}

/**
 * @name panels
 * @selector .slds-popover_panel
 * @restrict .slds-popover
 * @support dev-ready
 * @variant
 */
.slds-popover_panel .slds-popover__header,
.slds-popover--panel .slds-popover__header {
	background: #f3f2f2;
	padding: 1.5rem 1.5rem 0.75rem;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
	border-bottom: 0;
}

.slds-popover_panel .slds-popover__body,
.slds-popover--panel .slds-popover__body {
	padding: 0;
}

.slds-popover_panel .slds-popover__body-list,
.slds-popover--panel .slds-popover__body-list {
	padding: 1rem 1.5rem;
	border-top: 1px solid #dddbda;
}

.slds-popover_panel.slds-nubbin_left-top:before,
.slds-popover_panel.slds-nubbin_left-top:after,
.slds-popover_panel.slds-nubbin--left-top:before,
.slds-popover_panel.slds-nubbin--left-top:after,
.slds-popover_panel.slds-nubbin_right-top:before,
.slds-popover_panel.slds-nubbin_right-top:after,
.slds-popover_panel.slds-nubbin--right-top:before,
.slds-popover_panel.slds-nubbin--right-top:after,
.slds-popover_panel.slds-nubbin_top-left:before,
.slds-popover_panel.slds-nubbin_top-left:after,
.slds-popover_panel.slds-nubbin--top-left:before,
.slds-popover_panel.slds-nubbin--top-left:after,
.slds-popover_panel.slds-nubbin_top-right:before,
.slds-popover_panel.slds-nubbin_top-right:after,
.slds-popover_panel.slds-nubbin--top-right:before,
.slds-popover_panel.slds-nubbin--top-right:after,
.slds-popover--panel.slds-nubbin_left-top:before,
.slds-popover--panel.slds-nubbin_left-top:after,
.slds-popover--panel.slds-nubbin--left-top:before,
.slds-popover--panel.slds-nubbin--left-top:after,
.slds-popover--panel.slds-nubbin_right-top:before,
.slds-popover--panel.slds-nubbin_right-top:after,
.slds-popover--panel.slds-nubbin--right-top:before,
.slds-popover--panel.slds-nubbin--right-top:after,
.slds-popover--panel.slds-nubbin_top-left:before,
.slds-popover--panel.slds-nubbin_top-left:after,
.slds-popover--panel.slds-nubbin--top-left:before,
.slds-popover--panel.slds-nubbin--top-left:after,
.slds-popover--panel.slds-nubbin_top-right:before,
.slds-popover--panel.slds-nubbin_top-right:after,
.slds-popover--panel.slds-nubbin--top-right:before,
.slds-popover--panel.slds-nubbin--top-right:after {
	background: #f3f2f2;
}

.slds-popover_panel.slds-nubbin_left-top:before,
.slds-popover_panel.slds-nubbin_left-top:after,
.slds-popover_panel.slds-nubbin--left-top:before,
.slds-popover_panel.slds-nubbin--left-top:after,
.slds-popover_panel.slds-nubbin_right-top:before,
.slds-popover_panel.slds-nubbin_right-top:after,
.slds-popover_panel.slds-nubbin--right-top:before,
.slds-popover_panel.slds-nubbin--right-top:after,
.slds-popover--panel.slds-nubbin_left-top:before,
.slds-popover--panel.slds-nubbin_left-top:after,
.slds-popover--panel.slds-nubbin--left-top:before,
.slds-popover--panel.slds-nubbin--left-top:after,
.slds-popover--panel.slds-nubbin_right-top:before,
.slds-popover--panel.slds-nubbin_right-top:after,
.slds-popover--panel.slds-nubbin--right-top:before,
.slds-popover--panel.slds-nubbin--right-top:after {
	top: 2.25rem;
}

/**
 * @name Label for panels
 * @selector .slds-popover_panel__label
 * @restrict .slds-popover_panel p
 */
.slds-popover_panel__label {
	font-size: 0.875rem;
	font-weight: 700;
}

/**
  * @selector .slds-nubbin_top
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_top:before,
.slds-nubbin--top:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top:after,
.slds-nubbin--top:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top:after,
.slds-nubbin--top:after {
	box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

/**
  * @selector .slds-nubbin_top-left
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_top-left:before,
.slds-nubbin--top-left:before,
.slds-nubbin_top-left-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top-left:after,
.slds-nubbin--top-left:after,
.slds-nubbin_top-left-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top-left:after,
.slds-nubbin--top-left:after,
.slds-nubbin_top-left-corner:after {
	box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_top-left:before,
.slds-nubbin_top-left:after,
.slds-nubbin--top-left:before,
.slds-nubbin--top-left:after,
.slds-nubbin_top-left-corner:before,
.slds-nubbin_top-left-corner:after {
	left: 1.5rem;
	top: -0.5rem;
}

/**
  * @selector .slds-nubbin_top-right
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_top-right:before,
.slds-nubbin--top-right:before,
.slds-nubbin_top-right-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top-right:after,
.slds-nubbin--top-right:after,
.slds-nubbin_top-right-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_top-right:after,
.slds-nubbin--top-right:after,
.slds-nubbin_top-right-corner:after {
	box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_top-right:before,
.slds-nubbin_top-right:after,
.slds-nubbin--top-right:before,
.slds-nubbin--top-right:after,
.slds-nubbin_top-right-corner:before,
.slds-nubbin_top-right-corner:after {
	left: auto;
	right: 1.5rem;
	top: -0.5rem;
	margin-right: -0.5rem;
}

/**
  * @selector .slds-nubbin_bottom
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_bottom:before,
.slds-nubbin--bottom:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom:after,
.slds-nubbin--bottom:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom:after,
.slds-nubbin--bottom:after {
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

/**
  * @selector .slds-nubbin_bottom-left
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_bottom-left:before,
.slds-nubbin--bottom-left:before,
.slds-nubbin_bottom-left-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom-left:after,
.slds-nubbin--bottom-left:after,
.slds-nubbin_bottom-left-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom-left:after,
.slds-nubbin--bottom-left:after,
.slds-nubbin_bottom-left-corner:after {
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_bottom-left:before,
.slds-nubbin_bottom-left:after,
.slds-nubbin--bottom-left:before,
.slds-nubbin--bottom-left:after,
.slds-nubbin_bottom-left-corner:before,
.slds-nubbin_bottom-left-corner:after {
	left: 1.5rem;
	top: 100%;
	margin-top: -0.5rem;
}

/**
  * @selector .slds-nubbin_bottom-right
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_bottom-right:before,
.slds-nubbin--bottom-right:before,
.slds-nubbin_bottom-right-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom-right:after,
.slds-nubbin--bottom-right:after,
.slds-nubbin_bottom-right-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	left: 50%;
	bottom: -0.5rem;
	margin-left: -0.5rem;
}

.slds-nubbin_bottom-right:after,
.slds-nubbin--bottom-right:after,
.slds-nubbin_bottom-right-corner:after {
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_bottom-right:before,
.slds-nubbin_bottom-right:after,
.slds-nubbin--bottom-right:before,
.slds-nubbin--bottom-right:after,
.slds-nubbin_bottom-right-corner:before,
.slds-nubbin_bottom-right-corner:after {
	left: auto;
	right: 1.5rem;
	top: 100%;
	margin-top: -0.5rem;
	margin-right: -0.5rem;
}

/**
  * @selector .slds-nubbin_left
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_left:before,
.slds-nubbin--left:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left:after,
.slds-nubbin--left:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left:after,
.slds-nubbin--left:after {
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

/**
  * @selector .slds-nubbin_left-top
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_left-top:before,
.slds-nubbin--left-top:before,
.slds-nubbin_left-top-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left-top:after,
.slds-nubbin--left-top:after,
.slds-nubbin_left-top-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left-top:after,
.slds-nubbin--left-top:after,
.slds-nubbin_left-top-corner:after {
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_left-top:before,
.slds-nubbin_left-top:after,
.slds-nubbin--left-top:before,
.slds-nubbin--left-top:after,
.slds-nubbin_left-top-corner:before,
.slds-nubbin_left-top-corner:after {
	top: 1.5rem;
}

/**
  * @selector .slds-nubbin_left-bottom
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_left-bottom:before,
.slds-nubbin--left-bottom:before,
.slds-nubbin_left-bottom-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left-bottom:after,
.slds-nubbin--left-bottom:after,
.slds-nubbin_left-bottom-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	left: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_left-bottom:before,
.slds-nubbin--left-bottom:before,
.slds-nubbin_left-bottom-corner:before {
	margin-bottom: -1px;
}

.slds-nubbin_left-bottom:after,
.slds-nubbin--left-bottom:after,
.slds-nubbin_left-bottom-corner:after {
	box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_left-bottom:before,
.slds-nubbin_left-bottom:after,
.slds-nubbin--left-bottom:before,
.slds-nubbin--left-bottom:after,
.slds-nubbin_left-bottom-corner:before,
.slds-nubbin_left-bottom-corner:after {
	top: auto;
	bottom: 1rem;
}

/**
  * @selector .slds-nubbin_right
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_right:before,
.slds-nubbin--right:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right:after,
.slds-nubbin--right:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right:after,
.slds-nubbin--right:after {
	box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

/**
  * @selector .slds-nubbin_right-top
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_right-top:before,
.slds-nubbin--right-top:before,
.slds-nubbin_right-top-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right-top:after,
.slds-nubbin--right-top:after,
.slds-nubbin_right-top-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right-top:after,
.slds-nubbin--right-top:after,
.slds-nubbin_right-top-corner:after {
	box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_right-top:before,
.slds-nubbin_right-top:after,
.slds-nubbin--right-top:before,
.slds-nubbin--right-top:after,
.slds-nubbin_right-top-corner:before,
.slds-nubbin_right-top-corner:after {
	top: 1.5rem;
}

/**
  * @selector .slds-nubbin_right-bottom
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_right-bottom:before,
.slds-nubbin--right-bottom:before,
.slds-nubbin_right-bottom-corner:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right-bottom:after,
.slds-nubbin--right-bottom:after,
.slds-nubbin_right-bottom-corner:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: inherit;
	top: 50%;
	right: -0.5rem;
	margin-top: -0.5rem;
}

.slds-nubbin_right-bottom:before,
.slds-nubbin--right-bottom:before,
.slds-nubbin_right-bottom-corner:before {
	margin-bottom: -1px;
}

.slds-nubbin_right-bottom:after,
.slds-nubbin--right-bottom:after,
.slds-nubbin_right-bottom-corner:after {
	box-shadow: 2px -1px 3px 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}

.slds-nubbin_right-bottom:before,
.slds-nubbin_right-bottom:after,
.slds-nubbin--right-bottom:before,
.slds-nubbin--right-bottom:after,
.slds-nubbin_right-bottom-corner:before,
.slds-nubbin_right-bottom-corner:after {
	top: auto;
	bottom: 1rem;
}

/**
  * @selector .slds-nubbin_top-left-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_top-left-corner {
	border-radius: 0.125rem 0.25rem 0.25rem 0.25rem;
}
.slds-nubbin_top-left-corner:before,
.slds-nubbin_top-left-corner:after {
	left: 0.75rem;
}

/**
  * @selector .slds-nubbin_bottom-left-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_bottom-left-corner {
	border-radius: 0.25rem 0.25rem 0.25rem 0.125rem;
}
.slds-nubbin_bottom-left-corner:before,
.slds-nubbin_bottom-left-corner:after {
	left: 0.75rem;
}

/**
  * @selector .slds-nubbin_top-right-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_top-right-corner {
	border-radius: 0.25rem 0.125rem 0.25rem 0.25rem;
}
.slds-nubbin_top-right-corner:before,
.slds-nubbin_top-right-corner:after {
	right: 0.75rem;
}

/**
  * @selector .slds-nubbin_bottom-right-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_bottom-right-corner {
	border-radius: 0.25rem 0.25rem 0.125rem 0.25rem;
}
.slds-nubbin_bottom-right-corner:before,
.slds-nubbin_bottom-right-corner:after {
	right: 0.75rem;
}

/**
  * @selector .slds-nubbin_left-top-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_left-top-corner {
	border-radius: 0.125rem 0.25rem 0.25rem 0.25rem;
}
.slds-nubbin_left-top-corner:before,
.slds-nubbin_left-top-corner:after {
	top: 0.75rem;
}

/**
  * @selector .slds-nubbin_right-top-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_right-top-corner {
	border-radius: 0.25rem 0.125rem 0.25rem 0.25rem;
}
.slds-nubbin_right-top-corner:before,
.slds-nubbin_right-top-corner:after {
	top: 0.75rem;
}

/**
  * @selector .slds-nubbin_left-bottom-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_left-bottom-corner {
	border-radius: 0.25rem 0.25rem 0.25rem 0.125rem;
}
.slds-nubbin_left-bottom-corner:before,
.slds-nubbin_left-bottom-corner:after {
	bottom: 0.25rem;
}

/**
  * @selector .slds-nubbin_right-bottom-corner
  * @restrict .slds-popover, .slds-dropdown
  * @modifier
  * @group nubbins
  */
.slds-nubbin_right-bottom-corner {
	border-radius: 0.25rem 0.25rem 0.125rem 0.25rem;
}
.slds-nubbin_right-bottom-corner:before,
.slds-nubbin_right-bottom-corner:after {
	bottom: 0.25rem;
}

/**
 * Walkthrough components are used to provide an interactive and educational prospect experience for setup.
 *
 * @summary Initializes a walkthrough non-modal dialog
 *
 * @name walkthrough
 * @selector .slds-popover_walkthrough
 * @restrict .slds-popover
 * @support dev-ready
 * @variant
 */
.slds-popover_walkthrough,
.slds-popover--walkthrough {
	border-color: #061c3f;
	color: white;
	background: #032e61;
	border-color: #032e61;
}
.slds-popover_walkthrough .slds-text-title,
.slds-popover_walkthrough .slds-text-title_caps,
.slds-popover_walkthrough .slds-text-title--caps,
.slds-popover--walkthrough .slds-text-title,
.slds-popover--walkthrough .slds-text-title_caps,
.slds-popover--walkthrough .slds-text-title--caps {
	color: #b0adab;
}
.slds-popover_walkthrough .slds-icon,
.slds-popover--walkthrough .slds-icon {
	fill: currentColor;
}
.slds-popover_walkthrough a,
.slds-popover--walkthrough a {
	color: currentColor;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.slds-popover_walkthrough a:hover,
.slds-popover_walkthrough a:focus,
.slds-popover--walkthrough a:hover,
.slds-popover--walkthrough a:focus {
	text-decoration: none;
	outline: 0;
}
.slds-popover_walkthrough a:focus,
.slds-popover--walkthrough a:focus {
	box-shadow: 0 0 3px #ecebea;
	border: 1px solid #ecebea;
}
.slds-popover_walkthrough a:active,
.slds-popover--walkthrough a:active {
	color: rgba(255, 255, 255, 0.5);
}
.slds-popover_walkthrough a[disabled],
.slds-popover--walkthrough a[disabled] {
	color: rgba(255, 255, 255, 0.15);
}
.slds-popover_walkthrough a,
.slds-popover--walkthrough a {
	text-decoration: underline;
}
/* .slds-popover_walkthrough .slds-popover__header,
.slds-popover--walkthrough .slds-popover__header {
	background-color: #164a85;
	background-image: url('/assets/images/popovers/popover-header.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	border-color: inherit;
	padding: 0.75rem 1rem;
	text-shadow: 0 0 4px #032e61;
} */
.slds-popover_walkthrough .slds-popover__body,
.slds-popover_walkthrough .slds-popover__footer,
.slds-popover--walkthrough .slds-popover__body,
.slds-popover--walkthrough .slds-popover__footer {
	padding: 1rem;
}
.slds-popover_walkthrough .slds-popover__footer,
.slds-popover--walkthrough .slds-popover__footer {
	border: 0;
}
.slds-popover_walkthrough .slds-text-title,
.slds-popover--walkthrough .slds-text-title {
	color: #d9dbdd;
}
.slds-popover_walkthrough.slds-nubbin_top:before,
.slds-popover_walkthrough.slds-nubbin--top:before,
.slds-popover_walkthrough.slds-nubbin_top-left:before,
.slds-popover_walkthrough.slds-nubbin--top-left:before,
.slds-popover_walkthrough.slds-nubbin_top-right:before,
.slds-popover_walkthrough.slds-nubbin--top-right:before,
.slds-popover_walkthrough.slds-nubbin_left-top:before,
.slds-popover_walkthrough.slds-nubbin--left-top:before,
.slds-popover_walkthrough.slds-nubbin_right-top:before,
.slds-popover_walkthrough.slds-nubbin--right-top:before,
.slds-popover--walkthrough.slds-nubbin_top:before,
.slds-popover--walkthrough.slds-nubbin--top:before,
.slds-popover--walkthrough.slds-nubbin_top-left:before,
.slds-popover--walkthrough.slds-nubbin--top-left:before,
.slds-popover--walkthrough.slds-nubbin_top-right:before,
.slds-popover--walkthrough.slds-nubbin--top-right:before,
.slds-popover--walkthrough.slds-nubbin_left-top:before,
.slds-popover--walkthrough.slds-nubbin--left-top:before,
.slds-popover--walkthrough.slds-nubbin_right-top:before,
.slds-popover--walkthrough.slds-nubbin--right-top:before {
	background-color: #164a85;
}

/**
 * Alternate background for walkthrough non-modal dialog
 *
 * @selector .slds-popover_walkthrough-alt
 * @restrict .slds-popover_walkthrough
 * @modifier
 */
/* .slds-popover_walkthrough-alt,
.slds-popover_feature {
	border-color: #164a85;
	background-color: #164a85;
	background-image: url('/assets/images/popovers/popover-action.png');
	background-repeat: no-repeat;
	background-size: 100% 2.25rem;
	background-position: bottom;
	padding-bottom: 1.5rem;
	color: white;
} */
.slds-popover_walkthrough-alt .slds-text-heading_small,
.slds-popover_feature .slds-text-heading_small {
	margin-bottom: 0.5rem;
}
.slds-popover_walkthrough-alt.slds-nubbin_bottom:before,
.slds-popover_walkthrough-alt.slds-nubbin--bottom:before,
.slds-popover_walkthrough-alt.slds-nubbin_bottom-left:before,
.slds-popover_walkthrough-alt.slds-nubbin--bottom-left:before,
.slds-popover_walkthrough-alt.slds-nubbin_bottom-right:before,
.slds-popover_walkthrough-alt.slds-nubbin--bottom-right:before,
.slds-popover_feature.slds-nubbin_bottom:before,
.slds-popover_feature.slds-nubbin--bottom:before,
.slds-popover_feature.slds-nubbin_bottom-left:before,
.slds-popover_feature.slds-nubbin--bottom-left:before,
.slds-popover_feature.slds-nubbin_bottom-right:before,
.slds-popover_feature.slds-nubbin--bottom-right:before {
	background-color: #215ca0;
}

/**
 * Einstein components are used to provide an interactive experience with Einstein features
 *
 * @summary Initializes a Einstein non-modal dialog
 *
 * @name einstein
 * @selector .slds-popover_einstein
 * @restrict [role="dialog"], [role="tooltip"]
 * @support dev-ready
 * @variant
 */
/**
 * Error popovers are used to notify the user of errors on the page
 *
 * If the elements within the error popover exceed 150px, use the `.slds-popover__body_scrollable`  modifier on the body element.
 *
 * In some cases, such as displaying a list of menu items, padding may not be necessary in the popover body. To remove the padding, add the `slds-p-around_none" utility class to the body element.
 *
 * @summary Initializes an error non-modal dialog
 *
 * @name error
 * @selector .slds-popover_error
 * @restrict .slds-popover
 * @support dev-ready
 * @variant
 */
.slds-popover_error .slds-popover__header {
	background-color: #c23934;
	color: white;
}

.slds-popover_error.slds-nubbin_top:before,
.slds-popover_error.slds-nubbin--top:before,
.slds-popover_error.slds-nubbin_top-left:before,
.slds-popover_error.slds-nubbin--top-left:before,
.slds-popover_error.slds-nubbin_top-right:before,
.slds-popover_error.slds-nubbin--top-right:before,
.slds-popover_error.slds-nubbin_left-top:before,
.slds-popover_error.slds-nubbin--left-top:before,
.slds-popover_error.slds-nubbin_right-top:before,
.slds-popover_error.slds-nubbin--right-top:before {
	background-color: #c23934;
}

.slds-popover_error,
.slds-popover_warning {
	/**
   * @summary Applies scrollable styles for popovers
   * @selector .slds-popover__body_scrollable
   * @restrict .slds-popover_error .slds-popover__body, .slds-popover_warning .slds-popover__body
   */
}
.slds-popover_error .slds-popover__header,
.slds-popover_warning .slds-popover__header {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.slds-popover_error .slds-popover__body_scrollable,
.slds-popover_warning .slds-popover__body_scrollable {
	max-height: 150px;
	overflow-y: auto;
	border-bottom: 1px solid #dddbda;
}
.slds-popover_error .slds-popover__body_scrollable + .slds-popover__footer,
.slds-popover_warning .slds-popover__body_scrollable + .slds-popover__footer {
	border-top: 0;
}

/**
 * Warning popovers are used to warn the user about information on the page that deserves caution
 *
 * If the elements within the error popover exceed 150px, use the `.slds-popover__body_scrollable` modifier on the body element.
 *
 * In some cases, such as displaying a list of menu items, padding may not be necessary in the popover body. To remove the padding, add the `slds-p-around_none" utility class to the body element.
 *
 * @summary Initializes an warning non-modal dialog
 *
 * @name warning
 * @selector .slds-popover_warning
 * @restrict .slds-popover
 * @support dev-ready
 * @variant
 */
.slds-popover_warning button {
	color: #514f4d;
	text-decoration: underline;
}
.slds-popover_warning button:hover {
	color: #706e6b;
}
.slds-popover_warning button:focus {
	color: #514f4d;
	box-shadow: 0 0 3px #514f4d;
	border: 1px solid #514f4d;
}
.slds-popover_warning button:active {
	color: #706e6b;
}

.slds-popover_warning .slds-popover__header {
	background-color: #ffb75d;
	color: #2b2826;
}
.slds-popover_warning .slds-popover__header .slds-icon {
	fill: currentColor;
}

.slds-popover_warning .slds-popover__close {
	color: currentColor;
}

.slds-popover_warning.slds-nubbin_top:before,
.slds-popover_warning.slds-nubbin--top:before,
.slds-popover_warning.slds-nubbin_top-left:before,
.slds-popover_warning.slds-nubbin--top-left:before,
.slds-popover_warning.slds-nubbin_top-right:before,
.slds-popover_warning.slds-nubbin--top-right:before,
.slds-popover_warning.slds-nubbin_left-top:before,
.slds-popover_warning.slds-nubbin--left-top:before,
.slds-popover_warning.slds-nubbin_right-top:before,
.slds-popover_warning.slds-nubbin--right-top:before {
	background-color: #ffb75d;
}

.slds-tooltip {
	position: relative;
	border-radius: 0.25rem;
	width: 20rem;
	min-height: 2rem;
	z-index: 6000;
	background-color: #061c3f;
	display: inline-block;
}
.slds-tooltip__body {
	padding: 0.5rem 0.75rem;
	font-size: 0.75rem;
	color: white;
}

/**
 * The tooltip should be positioned with JavaScript.
 *
 * You can include inline help tooltips for form elements and any focusable items, such as anchor links, buttons, etc. If your tooltips are available on hover, also make sure that they’re available on keyboard focus. To allow screen readers to access the tooltip, the HTML form field element must  have an `aria-describedby` attribute that points to the tooltip `ID` of the tooltip.
 *
 * @summary Initializes a tooltip
 *
 * @variant
 * @name base
 * @selector .slds-popover_tooltip
 * @restrict [role="tooltip"]
 * @support dev-ready
 */
.slds-popover_tooltip,
.slds-popover--tooltip {
	width: auto;
	max-width: 20rem;
	background: #16325c;
	border: 0;
}
.slds-popover_tooltip .slds-popover__body,
.slds-popover--tooltip .slds-popover__body {
	font-size: 0.75rem;
	color: white;
}

/**
 * @name rise
 * @summary Toggles on tooltip
 * @selector .slds-rise-from-ground
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group toggle
 */
.slds-rise-from-ground {
	visibility: visible;
	opacity: 1;
	transform: translate(0%, 0%);
	transition: opacity 0.1s linear, visibility 0.1s linear, transform 0.1s linear;
	will-change: transform;
}

/**
 * @name fall
 * @summary Toggles off tooltip
 * @selector .slds-fall-into-ground
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group toggle
 */
.slds-fall-into-ground {
	visibility: hidden;
	opacity: 0;
	transform: translate(0%, 0%);
	transition: opacity 0.1s linear, visibility 0.1s linear, transform 0.1s linear;
	will-change: transform;
}

/**
 * @name bottom-to-top
 * @summary Slides tooltip from bottom to top
 * @selector .slds-slide-from-bottom-to-top
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group motion
 */
.slds-slide-from-bottom-to-top {
	transform: translateY(10%);
	will-change: transform;
}

/**
 * @name top-to-bottom
 * @summary Slides tooltip from top to bottom
 * @selector .slds-slide-from-top-to-bottom
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group motion
 */
.slds-slide-from-top-to-bottom {
	transform: translateY(-10%);
	will-change: transform;
}

/**
 * @name right-to-left
 * @summary Slides tooltip from right to left
 * @selector .slds-slide-from-right-to-left
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group motion
 */
.slds-slide-from-right-to-left {
	transform: translateX(5%);
	will-change: transform;
}

/**
 * @name left-to-right
 * @summary Slides tooltip from left to right
 * @selector .slds-slide-from-left-to-right
 * @restrict .slds-popover_tooltip
 * @modifier
 * @group motion
 */
.slds-slide-from-left-to-right {
	transform: translateX(-5%);
	will-change: transform;
}

.slds-dropdown-trigger .slds-dropdown {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s linear, visibility 0.1s linear;
}

.slds-dropdown-trigger:hover,
.slds-dropdown-trigger:focus {
	outline: 0;
}
.slds-dropdown-trigger:hover .slds-dropdown,
.slds-dropdown-trigger:focus .slds-dropdown {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.1s linear, visibility 0.1s linear;
}

.slds-dropdown_nubbin-top,
.slds-dropdown--nubbin-top {
	margin-top: 0.5rem;
}
.slds-dropdown_nubbin-top:before,
.slds-dropdown--nubbin-top:before {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: white;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}
.slds-dropdown_nubbin-top:after,
.slds-dropdown--nubbin-top:after {
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: rotate(45deg);
	content: '';
	background-color: white;
	left: 50%;
	top: -0.5rem;
	margin-left: -0.5rem;
}
.slds-dropdown_nubbin-top:before,
.slds-dropdown--nubbin-top:before {
	background: white;
}
.slds-dropdown_nubbin-top:after,
.slds-dropdown--nubbin-top:after {
	background: white;
	box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
	z-index: -1;
}
.slds-dropdown_nubbin-top.slds-dropdown_left,
.slds-dropdown_nubbin-top.slds-dropdown--left,
.slds-dropdown--nubbin-top.slds-dropdown_left,
.slds-dropdown--nubbin-top.slds-dropdown--left {
	left: -1rem;
}
.slds-dropdown_nubbin-top.slds-dropdown_left:before,
.slds-dropdown_nubbin-top.slds-dropdown_left:after,
.slds-dropdown_nubbin-top.slds-dropdown--left:before,
.slds-dropdown_nubbin-top.slds-dropdown--left:after,
.slds-dropdown--nubbin-top.slds-dropdown_left:before,
.slds-dropdown--nubbin-top.slds-dropdown_left:after,
.slds-dropdown--nubbin-top.slds-dropdown--left:before,
.slds-dropdown--nubbin-top.slds-dropdown--left:after {
	left: 1.5rem;
	margin-left: 0;
}
.slds-dropdown_nubbin-top.slds-dropdown_right,
.slds-dropdown_nubbin-top.slds-dropdown--right,
.slds-dropdown--nubbin-top.slds-dropdown_right,
.slds-dropdown--nubbin-top.slds-dropdown--right {
	right: -1rem;
}
.slds-dropdown_nubbin-top.slds-dropdown_right:before,
.slds-dropdown_nubbin-top.slds-dropdown_right:after,
.slds-dropdown_nubbin-top.slds-dropdown--right:before,
.slds-dropdown_nubbin-top.slds-dropdown--right:after,
.slds-dropdown--nubbin-top.slds-dropdown_right:before,
.slds-dropdown--nubbin-top.slds-dropdown_right:after,
.slds-dropdown--nubbin-top.slds-dropdown--right:before,
.slds-dropdown--nubbin-top.slds-dropdown--right:after {
	left: auto;
	right: 1.5rem;
	margin-left: 0;
}

.slds-dropdown__item .slds-has-icon {
	position: relative;
}
.slds-dropdown__item .slds-has-icon_left > a,
.slds-dropdown__item .slds-has-icon--left > a,
.slds-dropdown__item .slds-has-icon_left > span,
.slds-dropdown__item .slds-has-icon--left > span {
	padding-left: 2rem;
}
.slds-dropdown__item .slds-has-icon_right > a,
.slds-dropdown__item .slds-has-icon--right > a,
.slds-dropdown__item .slds-has-icon_right > span,
.slds-dropdown__item .slds-has-icon--right > span {
	padding-right: 2rem;
}
.slds-dropdown__item .slds-has-icon_left-right > a,
.slds-dropdown__item .slds-has-icon--left-right > a,
.slds-dropdown__item .slds-has-icon_left-right > span,
.slds-dropdown__item .slds-has-icon--left-right > span {
	padding-left: 2rem;
	padding-right: 2rem;
}
.slds-dropdown__item .slds-has-icon .slds-icon {
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
	fill: #706e6b;
}
.slds-dropdown__item .slds-has-icon .slds-icon_left,
.slds-dropdown__item .slds-has-icon .slds-icon--left {
	left: 0.75rem;
}
.slds-dropdown__item .slds-has-icon .slds-icon_right,
.slds-dropdown__item .slds-has-icon .slds-icon--right {
	right: 0.75rem;
}
