.slds-global-header {
	/**
    * Button icons on the global header
    *
    * @selector .slds-global-header__button_icon
    * @restrict .slds-global-header__item button
    * @deprecated
    */
	/**
    * Button icon specifically for global actions
    *
    * @selector .slds-global-header__button_icon-actions
    * @restrict .slds-global-header__item button
    * @deprecated
    */
	/**
    * Button icon specifically for global actions
    *
    * @selector .slds-global-header__button_icon-favorites
    * @restrict .slds-global-header__item button
    * @deprecated
    */
	/**
    * Deal with sizing for global header icons
    *
    * @selector .global-header__icon
    * @restrict .slds-global-header__item svg
    * @deprecated
    */
}
.slds-global-header__button_icon,
.slds-global-header__button--icon {
	margin: 0 0.25rem;
	color: #919191;
}
.slds-global-header__button_icon .slds-icon,
.slds-global-header__button--icon .slds-icon {
	fill: #919191;
}
.slds-global-header__button_icon:hover:not(:disabled),
.slds-global-header__button_icon:focus,
.slds-global-header__button--icon:hover:not(:disabled),
.slds-global-header__button--icon:focus {
	color: #818181;
}
.slds-global-header__button_icon:hover:not(:disabled) .slds-icon,
.slds-global-header__button_icon:focus .slds-icon,
.slds-global-header__button--icon:hover:not(:disabled) .slds-icon,
.slds-global-header__button--icon:focus .slds-icon {
	fill: #818181;
}
.slds-global-header__button_icon-actions,
.slds-global-header__button--icon-actions {
	background: #919191;
	border-radius: 0.25rem;
	color: white;
}
.slds-global-header__button_icon-actions:hover,
.slds-global-header__button_icon-actions:focus,
.slds-global-header__button--icon-actions:hover,
.slds-global-header__button--icon-actions:focus {
	background-color: #818181;
	color: white;
}
.slds-global-header__button_icon-actions .slds-button__icon,
.slds-global-header__button--icon-actions .slds-button__icon {
	width: 1rem;
	height: 1rem;
}
.slds-global-header__button_icon-favorites,
.slds-global-header__button--icon-favorites {
	color: white;
	/**
      * Selected state for favorites button
      *
      * @selector .slds-is-selected
      * @restrict .slds-global-header__button_icon-favorites
      * @deprecated
      * @group stateful
      */
	/**
      * Disabled state for favorites button
      *
      * @selector .slds-is-disabled
      * @restrict .slds-global-header__button_icon-favorites
      * @deprecated
      */
}
.slds-global-header__button_icon-favorites .slds-icon,
.slds-global-header__button_icon-favorites .slds-button__icon,
.slds-global-header__button--icon-favorites .slds-icon,
.slds-global-header__button--icon-favorites .slds-button__icon {
	color: white;
	stroke: #919191;
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
}
.slds-global-header__button_icon-favorites:hover .slds-icon,
.slds-global-header__button_icon-favorites:hover .slds-button__icon,
.slds-global-header__button_icon-favorites:focus .slds-icon,
.slds-global-header__button_icon-favorites:focus .slds-button__icon,
.slds-global-header__button--icon-favorites:hover .slds-icon,
.slds-global-header__button--icon-favorites:hover .slds-button__icon,
.slds-global-header__button--icon-favorites:focus .slds-icon,
.slds-global-header__button--icon-favorites:focus .slds-button__icon {
	color: white;
	stroke: #818181;
}
.slds-global-header__button_icon-favorites.slds-is-selected .slds-icon,
.slds-global-header__button_icon-favorites.slds-is-selected .slds-button__icon,
.slds-global-header__button--icon-favorites.slds-is-selected .slds-icon,
.slds-global-header__button--icon-favorites.slds-is-selected .slds-button__icon {
	color: white;
	stroke: #0070d2;
	stroke-width: 1px;
	fill: white;
}
.slds-global-header__button_icon-favorites.slds-is-selected:hover .slds-icon,
.slds-global-header__button_icon-favorites.slds-is-selected:hover .slds-button__icon,
.slds-global-header__button_icon-favorites.slds-is-selected:focus .slds-icon,
.slds-global-header__button_icon-favorites.slds-is-selected:focus .slds-button__icon,
.slds-global-header__button--icon-favorites.slds-is-selected:hover .slds-icon,
.slds-global-header__button--icon-favorites.slds-is-selected:hover .slds-button__icon,
.slds-global-header__button--icon-favorites.slds-is-selected:focus .slds-icon,
.slds-global-header__button--icon-favorites.slds-is-selected:focus .slds-button__icon {
	color: white;
	stroke: #005fb2;
	fill: white;
}
.slds-global-header__button_icon-favorites.slds-is-selected:active .slds-icon,
.slds-global-header__button_icon-favorites.slds-is-selected:active .slds-button__icon,
.slds-global-header__button--icon-favorites.slds-is-selected:active .slds-icon,
.slds-global-header__button--icon-favorites.slds-is-selected:active .slds-button__icon {
	color: white;
	stroke: #005fb2;
	fill: white;
}
.slds-global-header__button_icon-favorites.slds-is-disabled .slds-icon,
.slds-global-header__button_icon-favorites.slds-is-disabled .slds-button__icon,
.slds-global-header__button_icon-favorites:disabled .slds-icon,
.slds-global-header__button_icon-favorites:disabled .slds-button__icon,
.slds-global-header__button--icon-favorites.slds-is-disabled .slds-icon,
.slds-global-header__button--icon-favorites.slds-is-disabled .slds-button__icon,
.slds-global-header__button--icon-favorites:disabled .slds-icon,
.slds-global-header__button--icon-favorites:disabled .slds-button__icon {
	stroke: rgba(166, 166, 166, 0.25);
}
.slds-global-header__icon,
.slds-global-header__icon .slds-icon,
.slds-global-header__icon .slds-button__icon {
	width: 1.25rem;
	height: 1.25rem;
}

/**
 * Container that fixes the global header to the top of the viewport,
 * contains global header element
 *
 * @name base
 * @selector .slds-global-header_container
 * @restrict header
 * @support dev-ready
 * @variant
 */
.slds-global-header_container {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.slds-global-header_container .slds-assistive-text_focus,
.slds-global-header_container .slds-assistive-text--focus {
	top: 0;
	color: #5e5e5e;
	background: white;
}

/**
 * @selector .slds-global-header
 * @restrict .slds-global-header_container div
 */
.slds-global-header {
	background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	padding: 0.5rem 0;
	height: 3.125rem;
	align-items: center;
	/**
   * A region within the global header
   *
   * @selector .slds-global-header__item
   * @restrict .slds-global-header div, .slds-global-header ul
   */
	/**
   * Region that contains the search input, handles sizing
   *
   * @selector .slds-global-header__item_search
   * @restrict .slds-global-header__item:nth-child(2)
   */
	/**
   * Primary combobox that contains the search input, handles sizing
   *
   * @selector .slds-global-search__form-element div
   * @restrict .slds-global-header__item_search
   */
	/**
   * Container of the global header logo
   *
   * @selector .slds-global-header__logo
   * @restrict .slds-global-header__item div
   * @required
   */
}
.slds-global-header__item {
	padding: 0 1rem;
}
.slds-global-header__item_search,
.slds-global-header__item--search {
	flex: 0 1 33.5rem;
	min-width: 27.5rem;
	padding: 0;
}
.slds-global-header .slds-global-search__form-element .slds-input {
	padding-left: 3rem;
}
.slds-global-header .slds-global-search__form-element .slds-input__icon_left,
.slds-global-header .slds-global-search__form-element .slds-input__icon--left {
	left: 1.25rem;
}
.slds-global-header .slds-global-search__form-element .slds-icon {
	fill: #b0adab;
}
/* .slds-global-header__logo {
	width: 12.5rem;
	height: 2.5rem;
	background-image: url('/assets/images/logo-noname.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
} */

/**
 * @summary Global actions component wrapper
 * @selector .slds-global-actions
 * @restrict .slds-global-header ul
 */
.slds-global-actions {
	display: flex;
	align-items: center;
}

/**
 * @summary List item for each global action
 * @selector .slds-global-actions__item
 * @restrict .slds-global-actions li
 */
.slds-global-actions__item {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.slds-global-actions__item .slds-button_icon {
	color: #919191;
}

/**
 * @summary The actionable button inside of a global actions list item
 * @selector .slds-global-actions__item-action
 * @restrict .slds-global-actions__item button
 */
.slds-global-actions__item-action {
	transition: color 200ms linear;
}
.slds-global-actions__item-action:hover:not(:disabled),
.slds-global-actions__item-action:focus {
	color: #818181;
}
.slds-global-actions__item-action:active {
	animation: click-icon 120ms cubic-bezier(1, 1.9, 0.94, 0.98);
}
.slds-global-actions__item-action:active:not(:disabled) {
	color: #5e5e5e;
}

@keyframes click-icon {
	25% {
		transform: scale(0.94, 0.94);
	}
	100% {
		transform: scale(0.98, 0.98);
	}
}

/**
 * @summary User profile action icon
 * @selector .slds-global-actions__avatar
 * @restrict .slds-global-actions__item-action
 */
.slds-global-actions__avatar {
	box-shadow: #818181 0 0 0 0;
	border-radius: 50%;
	border: 0;
	margin-left: 0.5rem;
	transition: transform 80ms ease-out, box-shadow 0.1s linear;
}
.slds-global-actions__avatar:hover,
.slds-global-actions__avatar:focus {
	box-shadow: #818181 0 0 0 2px;
}

/**
 * @summary Favorites action button group
 * @selector .slds-global-actions__favorites
 * @restrict .slds-global-actions__item div
 */
.slds-global-actions__favorites {
	display: inline-flex;
	margin-right: 0.5rem;
}

/**
 * @summary Star icon inside of favorites button group
 * @selector .slds-global-actions__favorites-action
 * @restrict .slds-global-actions__favorites button
 */
.slds-global-actions__favorites-action {
	border-color: #919191;
	/**
   * @summary Selected/clicked state on favorites button
   * @selector .slds-is-selected
   * @restrict .slds-global-actions__favorites-action
   */
	/**
   * @summary Disabled state on favorites button
   * @selector .slds-is-disabled
   * @restrict .slds-global-actions__favorites-action
   */
}
.slds-global-actions__favorites-action:hover {
	border-color: #5e5e5e;
}
.slds-global-actions__favorites-action .slds-button__icon {
	width: 1rem;
	height: 1rem;
	transition: transform 200ms ease-out;
}
.slds-global-actions__favorites-action:hover:not(:disabled) .slds-button__icon {
	transform: scale(1.1, 1.1);
	transform-origin: 60% 40%;
}
.slds-global-actions__favorites-action.slds-is-selected {
	background-color: #005583;
	border-color: #005583;
}
.slds-global-actions__favorites-action.slds-is-selected:hover,
.slds-global-actions__favorites-action.slds-is-selected:focus {
	background-color: #005583;
	border-color: #005583;
}
.slds-global-actions__favorites-action.slds-is-selected .slds-button__icon {
	animation: click-favorites-icon 600ms cubic-bezier(0.46, 0.32, 0, 0.98);
}
.slds-global-actions__favorites-action:disabled,
.slds-global-actions__favorites-action.slds-is-disabled {
	color: rgba(166, 166, 166, 0.25);
	border-color: rgba(166, 166, 166, 0.25);
}

/**
 * @summary More dropdown icon inside of favorites button group
 * @selector .slds-global-actions__favorites-more
 * @restrict .slds-global-actions__favorites button
 */
.slds-global-actions__favorites-more {
	width: auto;
	padding-left: 0.125rem;
	padding-right: 0.125rem;
	border-color: #919191;
}
.slds-global-actions__favorites-more:hover {
	border-color: #5e5e5e;
}

@keyframes click-favorites-icon {
	25% {
		transform: scale(0.85, 0.85) rotate(15deg);
	}
	75% {
		transform: scale(1.2, 1.2) rotate(0deg);
	}
	100% {
		transform: scale(1, 1) rotate(0deg);
	}
}

/**
 * @summary Task action icon
 * @selector .slds-global-actions__task
 * @restrict .slds-global-actions__item-action
 */
.slds-global-actions__task {
	width: 1.25rem;
	height: 1.25rem;
	background: #919191;
	position: relative;
	top: -1px;
}
.slds-global-actions__task:hover {
	background: #818181;
}
.slds-global-actions__task:active {
	background: #5e5e5e;
}
.slds-global-actions__task.slds-global-actions__item-action,
.slds-global-actions__task.slds-global-actions__item-action:hover,
.slds-global-actions__task.slds-global-actions__item-action:active {
	color: #fff;
}
.slds-global-actions__task .slds-button__icon {
	width: 1rem;
	height: 1rem;
}

/**
 * @summary Notification action icon
 * @selector .slds-global-actions__notifications
 * @restrict .slds-global-actions__item-action
 */
.slds-global-actions__notifications {
	position: relative;
}
.slds-global-actions__notifications.slds-incoming-notification {
	animation: bell 0.8s ease-in-out;
}

/**
 * @summary Notification counter badge
 * @selector .slds-notification-badge
 * @restrict .slds-global-actions__item span
 */
.slds-notification-badge {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;
	background: #bf0201;
	color: #fff;
	border-radius: 15rem;
	min-width: 1rem;
	min-height: 1rem;
	text-align: center;
	font-size: 0.625rem;
	padding: 0 0.125rem;
	opacity: 0;
	pointer-events: none;
}
.slds-notification-badge.slds-show-notification {
	animation: ding 0.8s ease-out;
	opacity: 1;
	transition-delay: 0.5s;
	transform-origin: 1.1875rem 0;
}

@keyframes ding {
	75% {
		transform: scale(0.5, 0.5);
	}
	85% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes bell {
	45% {
		transform: rotate(15deg);
	}
	57% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(7deg);
	}
	77% {
		transform: rotate(-5deg);
	}
}

/**
 * @summary Handles styling for notification item interactions
 */
.slds-global-header__notification {
	border-bottom: 1px solid #dddbda;
	padding: 0.25rem;
}
.slds-global-header__notification_unread,
.slds-global-header__notification--unread {
	background-color: whitesmoke;
}
.slds-global-header__notification:hover {
	background-color: whitesmoke;
}
.slds-global-header__notification:last-child {
	border-bottom: 0;
}
