
/**
 * @summary Initializes checkbox
 *
 * @name base
 * @selector .slds-checkbox
 * @restrict span, label, div
 * @required
 * @support dev-ready
 * @variant
 */
.slds-checkbox {
	display: inline-block;
	position: relative;
	/**
   * @name stacked
   * @summary stacks label over checkbox
   * @selector .slds-checkbox_stacked
   * @restrict .slds-checkbox
   * @modifier
   * @group layout
   * @deprecated
   */
	/**
   * @summary Creates a custom styled checkbox
   * @selector .slds-checkbox_faux
   * @restrict .slds-checkbox span
   */
}
.slds-checkbox.slds-checkbox_stacked {
	/**
     * @summary Container for faux checkbox element
     * @selector .slds-checkbox__label
     * @restrict .slds-checkbox label
     */
}
.slds-checkbox.slds-checkbox_stacked .slds-checkbox__label {
	display: flex;
	flex-direction: column;
}
.slds-checkbox.slds-checkbox_stacked .slds-form-element__label {
	margin-bottom: 0.25rem;
	font-size: 0.75rem;
}
.slds-checkbox.slds-checkbox_stacked .slds-checkbox_faux {
	order: 1;
	margin-bottom: 1px;
}
.slds-checkbox.slds-checkbox_stacked .slds-required {
	float: left;
}
.slds-checkbox .slds-checkbox_faux,
.slds-checkbox .slds-checkbox--faux {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	border: 1px solid #dddbda;
	border-radius: 0.125rem;
	background: white;
	transition: border 0.1s linear, background-color 0.1s linear;
}
.slds-checkbox .slds-form-element__label {
	display: inline;
	vertical-align: middle;
	font-size: 0.8125rem;
}
.slds-checkbox [type='checkbox'] {
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	pointer-events: auto;
}
.slds-checkbox [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox']:checked + .slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:checked + .slds-checkbox__label .slds-checkbox--faux:after {
	display: block;
	content: '';
	height: 0.25rem;
	width: 0.5rem;
	position: absolute;
	top: 50%;
	/* stylelint-disable comment-empty-line-before */
	/*! @noflip */
	left: 50%;
	transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	border-bottom: 2px solid #0070d2;
	/*! @noflip */
	border-left: 2px solid #0070d2;
}
.slds-checkbox [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox [type='checkbox']:focus + .slds-checkbox__label .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus + .slds-checkbox__label .slds-checkbox--faux {
	content: '';
	border-color: #1589ee;
	box-shadow: 0 0 3px #0070d2;
}
.slds-checkbox [type='checkbox']:focus:checked > .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus:checked > .slds-checkbox--faux,
.slds-checkbox [type='checkbox']:focus:checked ~ .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus:checked ~ .slds-checkbox--faux,
.slds-checkbox [type='checkbox']:focus:checked + .slds-checkbox__label .slds-checkbox_faux,
.slds-checkbox [type='checkbox']:focus:checked + .slds-checkbox__label .slds-checkbox--faux {
	border-color: #1589ee;
	background-color: white;
}
.slds-checkbox [type='checkbox']:indeterminate + .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:indeterminate + .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox']:indeterminate ~ .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:indeterminate ~ .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox']:indeterminate + .slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox']:indeterminate + .slds-checkbox__label .slds-checkbox--faux:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	/*! @noflip */
	left: 50%;
	width: 0.5rem;
	height: 2px;
	background: #0070d2;
	border: 0;
	transform: translate3d(-50%, -50%, 0);
}
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox_faux,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox--faux {
	background-color: #e2e2e2;
	border-color: #c9c7c5;
}
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox'][disabled] ~ .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox'][disabled] ~ .slds-checkbox--faux:after,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox--faux:after {
	border-color: #969492;
}

.slds-has-error .slds-checkbox [type='checkbox'] + .slds-checkbox_faux,
.slds-has-error .slds-checkbox [type='checkbox'] + .slds-checkbox--faux,
.slds-has-error .slds-checkbox [type='checkbox'] ~ .slds-checkbox_faux,
.slds-has-error .slds-checkbox [type='checkbox'] ~ .slds-checkbox--faux,
.slds-has-error .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox_faux,
.slds-has-error .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox--faux {
	border-color: #c23934;
	border-width: 2px;
}

.slds-has-error .slds-checkbox [type='checkbox']:checked + .slds-checkbox_faux,
.slds-has-error .slds-checkbox [type='checkbox']:checked + .slds-checkbox--faux,
.slds-has-error .slds-checkbox [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-has-error .slds-checkbox [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-has-error
	.slds-checkbox
	[type='checkbox']:checked
	+ .slds-checkbox__label
	.slds-checkbox_faux,
.slds-has-error
	.slds-checkbox
	[type='checkbox']:checked
	+ .slds-checkbox__label
	.slds-checkbox--faux {
	border-color: #c23934;
	background-color: white;
}
.slds-has-error .slds-checkbox [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-has-error .slds-checkbox [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-has-error .slds-checkbox [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-has-error .slds-checkbox [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-has-error
	.slds-checkbox
	[type='checkbox']:checked
	+ .slds-checkbox__label
	.slds-checkbox_faux:after,
.slds-has-error
	.slds-checkbox
	[type='checkbox']:checked
	+ .slds-checkbox__label
	.slds-checkbox--faux:after {
	border-color: #d4504c;
}

.slds-form-element .slds-checkbox [type='checkbox'] + .slds-checkbox_faux,
.slds-form-element .slds-checkbox [type='checkbox'] + .slds-checkbox--faux,
.slds-form-element .slds-checkbox [type='checkbox'] ~ .slds-checkbox_faux,
.slds-form-element .slds-checkbox [type='checkbox'] ~ .slds-checkbox--faux,
.slds-form-element .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox_faux,
.slds-form-element .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox--faux {
	margin-right: 0.5rem;
}

/**
 * @summary
 * @name form-element
 * @selector .slds-checkbox_standalone
 * @restrict .slds-checkbox
 * @support dev-ready
 * @variant
 */
.slds-checkbox_standalone {
	pointer-events: none;
}
.slds-checkbox_standalone [type='checkbox'] {
	width: 1rem;
	height: 1rem;
	margin: 0;
	clip: auto;
}
.slds-checkbox_standalone .slds-checkbox_faux {
	display: block;
}

/**
 * @summary Initializes checkbox toggle
 *
 * @name base
 * @selector .slds-checkbox_toggle
 * @restrict label
 * @support dev-ready
 * @variant
 */
.slds-checkbox_toggle,
.slds-checkbox--toggle {
	width: 100%;
	/**
   * @summary Creates a custom styled checkbox
   * @selector .slds-checkbox_faux
   * @restrict .slds-checkbox_toggle span
   */
}
.slds-checkbox_toggle .slds-checkbox_faux,
.slds-checkbox_toggle .slds-checkbox--faux,
.slds-checkbox--toggle .slds-checkbox_faux,
.slds-checkbox--toggle .slds-checkbox--faux {
	display: block;
	position: relative;
	width: 3rem;
	height: 1.5rem;
	border: 1px solid #b0adab;
	padding: 0.125rem;
	background-color: #b0adab;
	border-radius: 15rem;
	transition: background-color 0.2s cubic-bezier(0.75, 0, 0.08, 1);
}
.slds-checkbox_toggle .slds-checkbox_faux:hover,
.slds-checkbox_toggle .slds-checkbox_faux:focus,
.slds-checkbox_toggle .slds-checkbox--faux:hover,
.slds-checkbox_toggle .slds-checkbox--faux:focus,
.slds-checkbox--toggle .slds-checkbox_faux:hover,
.slds-checkbox--toggle .slds-checkbox_faux:focus,
.slds-checkbox--toggle .slds-checkbox--faux:hover,
.slds-checkbox--toggle .slds-checkbox--faux:focus {
	cursor: pointer;
	background-color: #969492;
}
.slds-checkbox_toggle .slds-checkbox_faux:after,
.slds-checkbox_toggle .slds-checkbox--faux:after,
.slds-checkbox--toggle .slds-checkbox_faux:after,
.slds-checkbox--toggle .slds-checkbox--faux:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 1.25rem;
	height: 1.25rem;
	background-color: white;
	border-radius: 15rem;
}
.slds-checkbox_toggle [type='checkbox'],
.slds-checkbox--toggle [type='checkbox'] {
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	/**
     * @summary Container for faux checkbox element
     * @selector .slds-checkbox_faux_container
     * @restrict .slds-checkbox_toggle span
     */
}
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox_faux_container,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox--faux_container,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox_faux_container,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox--faux_container {
	font-size: 0.625rem;
	color: #3e3e3c;
	/**
       * @summary Container for text to show when checkbox is toggle off
       * @selector .slds-checkbox_off
       * @restrict .slds-checkbox_faux_container span
       */
	/**
       * @summary Container for text to show when checkbox is toggle on
       * @selector .slds-checkbox_off
       * @restrict .slds-checkbox_faux_container span
       */
}
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox_off,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox--off,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox_off,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox--off,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox_off,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox--off,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox_off,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox--off {
	display: block;
}
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox_on,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox--on,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox_on,
.slds-checkbox_toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox--on,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox_on,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox_faux_container .slds-checkbox--on,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox_on,
.slds-checkbox--toggle [type='checkbox'] + .slds-checkbox--faux_container .slds-checkbox--on {
	display: none;
}
.slds-checkbox_toggle [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox']:focus + .slds-checkbox_faux_container .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:focus + .slds-checkbox--faux_container .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:focus + .slds-checkbox_faux_container .slds-checkbox_faux,
.slds-checkbox--toggle
	[type='checkbox']:focus
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux {
	background-color: #969492;
	border-color: #1589ee;
	box-shadow: 0 0 3px #0070d2;
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux_container .slds-checkbox_off,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--off,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux_container .slds-checkbox_off,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--off {
	display: none;
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux_container .slds-checkbox_on,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux_container .slds-checkbox--on,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux_container .slds-checkbox_on,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--on {
	display: block;
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux_container .slds-checkbox_faux,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux {
	border-color: #0070d2;
	background-color: #0070d2;
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux:focus,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux:hover,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux:focus,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux:focus,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox--faux:hover,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox--faux:focus,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:hover,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:focus,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:hover,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:focus,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux:hover,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux:focus,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox--faux:hover,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox--faux:focus,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox_faux:hover,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox_faux:focus,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox--faux:hover,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox--faux:focus,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:hover,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:focus,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:hover,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:focus {
	background-color: #005fb2;
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux:before,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:before,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:before,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox--faux:before,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:before,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:before {
	content: '';
	position: absolute;
	top: 1px;
	right: 1px;
	width: 1.25rem;
	height: 1.25rem;
	background-color: white;
	border-radius: 15rem;
	transition: transform 0.2s cubic-bezier(0.75, 0, 0.08, 1);
}
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox_toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox--toggle [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox--toggle [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox--toggle
	[type='checkbox']:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after {
	content: ' ';
	position: absolute;
	top: 0.25rem;
	left: 0.6rem;
	height: 0.7rem;
	width: 0.45rem;
	border-bottom: 2px solid white;
	/* stylelint-disable comment-empty-line-before */
	/*! @noflip */
	border-right: 2px solid white;
	border-radius: 0;
	background-color: transparent;
	transform: rotate(45deg);
}
.slds-checkbox_toggle [type='checkbox']:checked:focus + .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:checked:focus + .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox']:checked:focus ~ .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox']:checked:focus ~ .slds-checkbox--faux,
.slds-checkbox_toggle
	[type='checkbox']:checked:focus
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux,
.slds-checkbox_toggle
	[type='checkbox']:checked:focus
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:checked:focus + .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:checked:focus + .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox']:checked:focus ~ .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox']:checked:focus ~ .slds-checkbox--faux,
.slds-checkbox--toggle
	[type='checkbox']:checked:focus
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux,
.slds-checkbox--toggle
	[type='checkbox']:checked:focus
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux {
	background-color: #005fb2;
}
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux {
	background-color: #b0adab;
	pointer-events: none;
}
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox_faux:after,
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox--faux:after,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:after,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:after,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox_faux:after,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox--faux:after,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:after,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:after,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after {
	background-color: #dddbda;
}
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox_faux:focus,
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox--faux:hover,
.slds-checkbox_toggle [type='checkbox'][disabled] + .slds-checkbox--faux:focus,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:focus,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:hover,
.slds-checkbox_toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:focus,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:hover,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:focus,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:hover,
.slds-checkbox_toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:focus,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox_faux:hover,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox_faux:focus,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox--faux:hover,
.slds-checkbox--toggle [type='checkbox'][disabled] + .slds-checkbox--faux:focus,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:hover,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox_faux:focus,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:hover,
.slds-checkbox--toggle [type='checkbox'][disabled] ~ .slds-checkbox--faux:focus,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:hover,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:focus,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:hover,
.slds-checkbox--toggle
	[type='checkbox'][disabled]
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:focus {
	background-color: #b0adab;
	cursor: default;
}
.slds-checkbox_toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:before,
.slds-checkbox_toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:before,
.slds-checkbox--toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:before,
.slds-checkbox--toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:before {
	background-color: #dddbda;
}
.slds-checkbox_toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox_toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after,
.slds-checkbox--toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox_faux_container
	.slds-checkbox_faux:after,
.slds-checkbox--toggle
	[type='checkbox'][disabled]:checked
	+ .slds-checkbox--faux_container
	.slds-checkbox--faux:after {
	background-color: transparent;
}

/**
 * @summary Initializes checkbox add button
 *
 * @name base
 * @selector .slds-checkbox_add-button
 * @restrict div
 * @support dev-ready
 * @variant
 */
.slds-checkbox_add-button,
.slds-checkbox--add-button {
	/**
   * @summary Creates a custom styled checkbox
   * @selector .slds-checkbox_faux
   * @restrict .slds-checkbox_add-button label
   */
}
.slds-checkbox_add-button .slds-checkbox_faux,
.slds-checkbox_add-button .slds-checkbox--faux,
.slds-checkbox--add-button .slds-checkbox_faux,
.slds-checkbox--add-button .slds-checkbox--faux {
	width: 2rem;
	height: 2rem;
	position: relative;
	display: inline-block;
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
	background-color: white;
	cursor: pointer;
}
.slds-checkbox_add-button .slds-checkbox_faux:before,
.slds-checkbox_add-button .slds-checkbox_faux:after,
.slds-checkbox_add-button .slds-checkbox--faux:before,
.slds-checkbox_add-button .slds-checkbox--faux:after,
.slds-checkbox--add-button .slds-checkbox_faux:before,
.slds-checkbox--add-button .slds-checkbox_faux:after,
.slds-checkbox--add-button .slds-checkbox--faux:before,
.slds-checkbox--add-button .slds-checkbox--faux:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.875rem;
	width: 0.125rem;
	margin: auto;
	background: #0070d2;
}
.slds-checkbox_add-button .slds-checkbox_faux:after,
.slds-checkbox_add-button .slds-checkbox--faux:after,
.slds-checkbox--add-button .slds-checkbox_faux:after,
.slds-checkbox--add-button .slds-checkbox--faux:after {
	width: 0.875rem;
	height: 0.125rem;
}
.slds-checkbox_add-button .slds-checkbox_faux:hover:not([disabled]),
.slds-checkbox_add-button .slds-checkbox_faux:focus:not([disabled]),
.slds-checkbox_add-button .slds-checkbox--faux:hover:not([disabled]),
.slds-checkbox_add-button .slds-checkbox--faux:focus:not([disabled]),
.slds-checkbox--add-button .slds-checkbox_faux:hover:not([disabled]),
.slds-checkbox--add-button .slds-checkbox_faux:focus:not([disabled]),
.slds-checkbox--add-button .slds-checkbox--faux:hover:not([disabled]),
.slds-checkbox--add-button .slds-checkbox--faux:focus:not([disabled]) {
	border: 1px solid #dddbda;
	background-color: #f4f6f9;
}
.slds-checkbox_add-button .slds-checkbox_faux:active,
.slds-checkbox_add-button .slds-checkbox--faux:active,
.slds-checkbox--add-button .slds-checkbox_faux:active,
.slds-checkbox--add-button .slds-checkbox--faux:active {
	background-color: #eef1f6;
}
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox--faux {
	border-color: transparent;
	background: #4bca81;
}
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox--faux:before,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox--faux:after {
	background: white;
}
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox--faux:before {
	left: 0.3125rem;
	width: 0.125rem;
	height: 1rem;
	transform: rotate(40deg);
}
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox']:checked + .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox']:checked ~ .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox']:checked + .slds-checkbox--faux:after {
	top: 0.3125rem;
	left: -0.625rem;
	width: 0.5625rem;
	height: 0.125rem;
	transform: rotate(40deg);
}
.slds-checkbox_add-button [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox_add-button [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox']:focus + .slds-checkbox--faux {
	outline: 0;
	box-shadow: 0 0 3px #0070d2;
	border-color: #1589ee;
}
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox--faux {
	background-color: #e0e5ee;
	border-color: rgba(0, 0, 0, 0);
	color: white;
	cursor: default;
}
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux:before,
.slds-checkbox_add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux:after,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox_faux:before,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox_faux:after,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox--faux:before,
.slds-checkbox_add-button [type='checkbox'][disabled] + .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox'][disabled] ~ .slds-checkbox--faux:after,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox_faux:before,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox_faux:after,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox--faux:before,
.slds-checkbox--add-button [type='checkbox'][disabled] + .slds-checkbox--faux:after {
	background: #969492;
}
.slds-checkbox_add-button [type='checkbox'][disabled]:checked ~ .slds-checkbox_faux,
.slds-checkbox_add-button [type='checkbox'][disabled]:checked + .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox'][disabled]:checked ~ .slds-checkbox_faux,
.slds-checkbox--add-button [type='checkbox'][disabled]:checked + .slds-checkbox_faux {
	background-color: white;
}

/**
 * @summary Initializes checkbox button group
 *
 * @name base
 * @selector .slds-checkbox_button-group
 * @restrict div, span
 * @support dev-ready
 * @variant
 */
.slds-checkbox_button-group,
.slds-checkbox--button-group {
	display: inline-flex;
	background-color: white;
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
}

/**
 * @summary Initializes checkbox inside a button group
 * @selector .slds-checkbox_button
 * @restrict .slds-checkbox_button-group span
 */
.slds-checkbox_button,
.slds-checkbox--button {
	display: flex;
	border: 0;
	border-radius: 0;
	background-clip: padding-box;
	/**
   * @summary Creates a custom styled checkbox
   * @selector .slds-checkbox_faux
   * @restrict .slds-checkbox_button-group span
   */
	/**
   * @summary Creates a custom styled checkbox
   * @selector .slds-checkbox_button__label
   * @restrict .slds-checkbox_button label
   */
}
.slds-checkbox_button .slds-checkbox_faux,
.slds-checkbox_button .slds-checkbox--faux,
.slds-checkbox--button .slds-checkbox_faux,
.slds-checkbox--button .slds-checkbox--faux {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	position: relative;
	background-color: white;
	transition: border 0.1s linear, background-color 0.1s linear;
}
.slds-checkbox_button .slds-checkbox_faux:hover,
.slds-checkbox_button .slds-checkbox_faux:focus,
.slds-checkbox_button .slds-checkbox--faux:hover,
.slds-checkbox_button .slds-checkbox--faux:focus,
.slds-checkbox--button .slds-checkbox_faux:hover,
.slds-checkbox--button .slds-checkbox_faux:focus,
.slds-checkbox--button .slds-checkbox--faux:hover,
.slds-checkbox--button .slds-checkbox--faux:focus {
	cursor: pointer;
	background-color: #f4f6f9;
}
.slds-checkbox_button .slds-checkbox_button__label .slds-checkbox_faux,
.slds-checkbox_button .slds-checkbox--button__label .slds-checkbox--faux,
.slds-checkbox_button
	[type='checkbox']:checked
	+ .slds-checkbox--button__label
	.slds-checkbox--faux,
.slds-checkbox--button .slds-checkbox_button__label .slds-checkbox_faux,
.slds-checkbox--button .slds-checkbox--button__label .slds-checkbox--faux,
.slds-checkbox--button
	[type='checkbox']:checked
	+ .slds-checkbox--button__label
	.slds-checkbox--faux {
	background-color: transparent;
}
.slds-checkbox_button + .slds-checkbox_button,
.slds-checkbox_button + .slds-checkbox--button,
.slds-checkbox--button + .slds-checkbox_button,
.slds-checkbox--button + .slds-checkbox--button {
	border-left: 1px solid #dddbda;
	border-radius: 0;
	margin: 0;
}
.slds-checkbox_button:first-child > .slds-checkbox_faux,
.slds-checkbox_button:first-child > .slds-checkbox--faux,
.slds-checkbox_button:first-child > .slds-checkbox_button__label,
.slds-checkbox_button:first-child > .slds-checkbox--button__label,
.slds-checkbox--button:first-child > .slds-checkbox_faux,
.slds-checkbox--button:first-child > .slds-checkbox--faux,
.slds-checkbox--button:first-child > .slds-checkbox_button__label,
.slds-checkbox--button:first-child > .slds-checkbox--button__label {
	border-radius: 0.25rem 0 0 0.25rem;
}
.slds-checkbox_button:last-child > .slds-checkbox_faux,
.slds-checkbox_button:last-child > .slds-checkbox--faux,
.slds-checkbox_button .slds-button_last > .slds-checkbox_faux,
.slds-checkbox_button .slds-button--last > .slds-checkbox--faux,
.slds-checkbox_button:last-child > .slds-checkbox_button__label,
.slds-checkbox_button:last-child > .slds-checkbox--button__label,
.slds-checkbox--button:last-child > .slds-checkbox_faux,
.slds-checkbox--button:last-child > .slds-checkbox--faux,
.slds-checkbox--button .slds-button_last > .slds-checkbox_faux,
.slds-checkbox--button .slds-button--last > .slds-checkbox--faux,
.slds-checkbox--button:last-child > .slds-checkbox_button__label,
.slds-checkbox--button:last-child > .slds-checkbox--button__label {
	border-radius: 0 0.25rem 0.25rem 0;
}
.slds-checkbox_button [type='checkbox'],
.slds-checkbox--button [type='checkbox'] {
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_button__label,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--button__label,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_button__label,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--button__label {
	background-color: #0070d2;
	color: white;
}
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_faux:hover,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_faux:focus,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--faux:hover,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--faux:focus,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox_faux:hover,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox_faux:focus,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox--faux:hover,
.slds-checkbox_button [type='checkbox']:checked ~ .slds-checkbox--faux:focus,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_button__label:hover,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox_button__label:focus,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--button__label:hover,
.slds-checkbox_button [type='checkbox']:checked + .slds-checkbox--button__label:focus,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_faux:hover,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_faux:focus,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--faux:hover,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--faux:focus,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox_faux:hover,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox_faux:focus,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox--faux:hover,
.slds-checkbox--button [type='checkbox']:checked ~ .slds-checkbox--faux:focus,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_button__label:hover,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox_button__label:focus,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--button__label:hover,
.slds-checkbox--button [type='checkbox']:checked + .slds-checkbox--button__label:focus {
	background-color: #005fb2;
}
.slds-checkbox_button [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox']:focus + .slds-checkbox_button__label,
.slds-checkbox_button [type='checkbox']:focus + .slds-checkbox--button__label,
.slds-checkbox--button [type='checkbox']:focus + .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox']:focus + .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox']:focus ~ .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox']:focus ~ .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox']:focus + .slds-checkbox_button__label,
.slds-checkbox--button [type='checkbox']:focus + .slds-checkbox--button__label {
	outline: 0;
	box-shadow: 0 0 3px #0070d2;
	z-index: 1;
}
.slds-checkbox_button [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox'][disabled] + .slds-checkbox_button__label,
.slds-checkbox_button [type='checkbox'][disabled] + .slds-checkbox--button__label,
.slds-checkbox--button [type='checkbox'][disabled] + .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox'][disabled] + .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox'][disabled] ~ .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox'][disabled] ~ .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox'][disabled] + .slds-checkbox_button__label,
.slds-checkbox--button [type='checkbox'][disabled] + .slds-checkbox--button__label {
	background-color: white;
	color: #dddbda;
	cursor: default;
}
.slds-checkbox_button [type='checkbox'][disabled]:checked + .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox'][disabled]:checked + .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox'][disabled]:checked ~ .slds-checkbox_faux,
.slds-checkbox_button [type='checkbox'][disabled]:checked ~ .slds-checkbox--faux,
.slds-checkbox_button [type='checkbox'][disabled]:checked + .slds-checkbox_button__label,
.slds-checkbox_button [type='checkbox'][disabled]:checked + .slds-checkbox--button__label,
.slds-checkbox--button [type='checkbox'][disabled]:checked + .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox'][disabled]:checked + .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox'][disabled]:checked ~ .slds-checkbox_faux,
.slds-checkbox--button [type='checkbox'][disabled]:checked ~ .slds-checkbox--faux,
.slds-checkbox--button [type='checkbox'][disabled]:checked + .slds-checkbox_button__label,
.slds-checkbox--button [type='checkbox'][disabled]:checked + .slds-checkbox--button__label {
	background-color: #c9c7c5;
	color: white;
	cursor: default;
}
