
/**
 * @name base
 * @selector .slds-combobox-picklist
 * @restrict div
 * @variant
 * @s1 false
 */
.slds-picklist {
	position: relative;
	/**
     * Resets explicit width on picklist to be fluid to its parent element
     *
     * @selector .slds-picklist_fluid
     * @restrict .slds-picklist
     * @modifier
     */
}
.slds-picklist .slds-dropdown {
	width: 15rem;
}
.slds-picklist li {
	/**
       * Set default state of icon for when a listbox option is selected
       *
       * @selector .slds-icon_selected
       * @restrict .slds-picklist li svg
       * @required
       */
	/**
       * Toggles state of icon for when a listbox option is selected
       *
       * @selector .slds-is-selected
       * @restrict .slds-picklist li
       * @modifier
       * @required
       */
}
.slds-picklist li .slds-icon_selected,
.slds-picklist li .slds-icon--selected {
	opacity: 0;
	transition: opacity 0.05s ease;
}
.slds-picklist li.slds-is-selected .slds-icon_selected,
.slds-picklist li.slds-is-selected .slds-icon--selected {
	fill: #0070d2;
	opacity: 1;
}
.slds-picklist_fluid .slds-picklist__input,
.slds-picklist_fluid .slds-picklist__label,
.slds-picklist_fluid .slds-dropdown,
.slds-picklist_fluid .slds-lookup,
.slds-picklist--fluid .slds-picklist__input,
.slds-picklist--fluid .slds-picklist__label,
.slds-picklist--fluid .slds-dropdown,
.slds-picklist--fluid .slds-lookup {
	width: auto;
	min-width: 0;
	max-width: 15rem;
}

/**
   * Read-only input element for picklist
   *
   * @selector .slds-picklist__input
   * @restrict .slds-picklist .slds-form-element__control
   * @required
   */
.slds-picklist__input {
	width: 15rem;
}
.slds-picklist__input .slds-button {
	line-height: 0;
}

.slds-picklist__label {
	padding-right: 2rem;
	width: 15rem;
	color: #1e1e1e;
	text-align: left;
}
.slds-picklist__label .slds-icon {
	width: 0.75rem;
	height: 0.75rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -0.375rem;
	fill: #706e6b;
}
.slds-picklist__label .slds-truncate {
	display: block;
}
