
/**
 * @summary Initializes a visual picker component
 *
 * @name coverable-content
 * @selector .slds-visual-picker
 * @restrict div
 * @support dev-ready
 * @variant
 */
.slds-visual-picker {
	display: inline-flex;
	position: relative;
	flex-direction: column;
	border: 0;
	border-radius: 0;
	text-align: center;
	cursor: pointer;
}
.slds-visual-picker + .slds-visual-picker {
	margin-left: 1rem;
}
.slds-visual-picker:active .slds-visual-picker__figure {
	border: 1px solid #1589ee;
	box-shadow: 0 0 0 1px #1589ee inset;
}
.slds-visual-picker:hover .slds-visual-picker__figure {
	cursor: pointer;
}
.slds-visual-picker input:not(:disabled) ~ label:hover .slds-visual-picker__figure {
	cursor: pointer;
	outline: 0;
	border: 1px solid #1589ee;
	box-shadow: 0 0 0 1px #1589ee inset;
}
.slds-visual-picker input {
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	/**
     * @name not-selected
     * @summary Non-selected state
     * @selector .slds-is-not-selected
     * @restrict .slds-visual-picker__figure > span
     * @modifer
     * @group interactions
     */
	/**
     * @name selected
     * @summary Selected state
     * @selector .slds-is-selected
     * @restrict .slds-visual-picker__figure > span
     * @modifer
     * @group interactions
     */
	/**
     * @summary Icon within visual picker
     * @selector .slds-visual-picker__icon
     * @restrict .slds-visual-picker__figure
     */
	/**
     * @summary Text within visual picker
     * @selector .slds-visual-picker__text
     * @restrict .slds-visual-picker__figure
     */
	/* stylelint-disable max-nesting-depth */
}
.slds-visual-picker input:focus ~ label .slds-visual-picker__figure {
	border: 1px solid #1589ee;
	box-shadow: 0 0 0 1px #1589ee inset;
}
.slds-visual-picker input:checked ~ label .slds-visual-picker__figure {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
}
.slds-visual-picker input:focus ~ label .slds-visual-picker__body > *:first-child {
	text-decoration: underline;
}
.slds-visual-picker input:checked ~ label .slds-is-not-selected {
	display: none;
}
.slds-visual-picker input:checked ~ label .slds-is-selected {
	display: block;
}
.slds-visual-picker input:checked ~ label .slds-visual-picker__icon {
	background-color: #0070d2;
	border: 1px solid #1589ee;
}
.slds-visual-picker input:checked ~ label .slds-visual-picker__text {
	border: 1px solid #1589ee;
	box-shadow: 0 0 0 1px #1589ee inset;
}
.slds-visual-picker input:checked ~ label .slds-visual-picker__text:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-color: transparent;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1rem;
	border-right-color: #0070d2;
	border-top-color: #0070d2;
}
.slds-visual-picker input[disabled] {
	cursor: not-allowed;
	user-select: none;
}
.slds-visual-picker input[disabled] ~ label .slds-visual-picker__body,
.slds-visual-picker input[disabled] ~ label .slds-visual-picker__text {
	color: #3e3e3c;
}
.slds-visual-picker input[disabled] ~ label .slds-visual-picker__figure {
	border-color: #c9c7c5;
	background-color: #e2e2e2;
	box-shadow: none;
}
.slds-visual-picker input[disabled] ~ label .slds-visual-picker__figure:hover {
	cursor: not-allowed;
	user-select: none;
	box-shadow: none;
}

/**
 * @summary Visual container for icon and text
 * @selector .slds-visual-picker__figure
 * @restrict .slds-visual-picker div, .slds-visual-picker span
 */
.slds-visual-picker__figure {
	display: block;
	background: white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
	text-align: center;
}
.slds-visual-picker__figure .slds-icon-action-check {
	background-color: #0070d2;
}
.slds-visual-picker__figure span {
	display: block;
}
.slds-visual-picker__figure .slds-is-selected {
	display: none;
}

/**
 * @name medium
 * @summary Size modifier to adjust to the default size of medium
 * @selector .slds-visual-picker_medium
 * @restrict .slds-visual-picker
 * @modifier
 * @group size
 */
.slds-visual-picker_medium .slds-visual-picker__figure,
.slds-visual-picker_medium .slds-visual-picker__body {
	width: 12rem;
}

.slds-visual-picker_medium .slds-visual-picker__figure {
	height: 12rem;
}

/**
 * @name large
 * @summary Size modifier to adjust to the size of large
 * @selector .slds-visual-picker_large
 * @restrict .slds-visual-picker
 * @modifier
 * @group size
 */
.slds-visual-picker_large .slds-visual-picker__figure,
.slds-visual-picker_large .slds-visual-picker__body {
	width: 15rem;
}

.slds-visual-picker_large .slds-visual-picker__figure {
	height: 15rem;
}

/**
 * @summary Text area that sits outside the visual picker
 * @selector .slds-visual-picker__body
 * @restrict .slds-visual-picker span
 */
.slds-visual-picker__body {
	display: flex;
	flex-direction: column;
	background: transparent;
	padding: 1rem 0.5rem;
	border: 0;
	border-radius: 0;
}

/**
 * @summary Checkmark that is visibily toggled when input is checked
 *
 * @name non-coverable-content
 * @selector .slds-visual-picker__text-check
 * @restrict .slds-visual-picker span
 * @support dev-ready
 * @variant
 */
.slds-visual-picker__text-check {
	position: absolute;
	top: -0.0625rem;
	right: 0.625rem;
	width: 0.5rem;
	height: 0.5rem;
}

.slds-visual-picker input[disabled] ~ label .slds-visual-picker__text-check {
	opacity: 0;
}

/**
 * @summary Initializes a vertical visual picker component
 *
 * @name vertical
 * @selector .slds-visual-picker_vertical
 * @restrict .slds-visual-picker
 * @support dev-ready
 * @variant
 */
.slds-visual-picker_vertical {
	width: 25rem;
	display: flex;
}
.slds-visual-picker_vertical .slds-visual-picker__figure {
	text-align: left;
	padding: 1rem;
	height: 6rem;
}
.slds-visual-picker_vertical + .slds-visual-picker_vertical {
	margin-left: 0;
	margin-top: 1rem;
}
.slds-visual-picker_vertical .slds-visual-picker__figure,
.slds-visual-picker_vertical .slds-visual-picker__body {
	width: 25rem;
}
.slds-visual-picker_vertical
	input:focus
	~ label
	.slds-visual-picker__text
	.slds-text-heading_medium {
	text-decoration: underline;
}
