#profile-card .heading {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-right: var(--tds-spacing-12);
}

#profile-card .details {
	display: block;
	transition: transform 0.2s linear;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#profile-card .col {
	flex: 1 1 auto;
}

#profile-card .slds-card {
	box-sizing: border-box;
	border: 1px solid transparent;
	box-shadow: 0 2px 0px -1px rgb(0 0 0 / 10%);
	margin-top: var(--tds-spacing-6);
	margin-bottom: var(--tds-spacing-6);
}

#profile-card .name {
	font-size: var(--tds-font-size-3xl);
	margin: var(--tds-spacing-2) 0 0 0;
}

#profile-card .company {
	font-size: var(--tds-font-size-xl);
	margin-bottom: var(--tds-spacing-1);
}

#profile-card .location {
	color: var(--text-color-secondary);
}

#profile-card .empty-state-link {
	color: var(--tds-color-meteorite);
	margin-top: var(--tds-spacing-3);
	text-decoration: underline;
	font-style: italic;
}

#profile-card h1 {
	display: block;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0.67em;
	margin-inline-end: 0.67em;
	font-weight: bold;
}

#profile-card .avatar {
	border-radius: 50%;
	margin-top: -3rem;
	margin-right: var(--tds-spacing-4);
	background-color: var(--tds-color-white);
	background-position: center center;
	background-size: cover;
	border: 6px solid var(--tds-color-white);
	height: 11.25rem;
	width: 11.25rem;
	position: relative;
	top: -6px;
}

#profile-card .avatar-img {
	background-color: var(--c-colorWhite, rgb(255, 255, 255));
	background-position: center center;
	background-size: cover;
	border: 6px solid var(--c-colorWhite, rgb(255, 255, 255));
	border-radius: 50%;
	height: 11.25rem;
	width: 11.25rem;
	transition: border-color 0.2s ease;
}

#profile-card .avatar-img_expandable:hover {
	border-color: var(--c-colorFog, rgb(226, 226, 226));
}

.cAvatarUploader {
	right: 16px;
	bottom: 10px;
}

.cAvatarUploader > .slds-button {
	border-radius: 50%;
}

.cAvatarUploader .picture {
	width: 220px !important;
	height: 220px !important;
}

.cAvatarUploader .removePhotoButton {
	width: 100%;
	margin: 0.5rem 0;
}

.cAvatarUploader .croppie-container .cr-slider-wrap {
	margin: 5px auto;
}

.cAvatarUploader img {
	max-width: 220px;
	max-height: 220px;
}

.cAvatarUploader .form-footer {
	height: 35px;
}

#profile-card .bio {
	margin-top: var(--tds-spacing-4);
	margin-bottom: 0;
}

#profile-card .edit {
	position: absolute;
	top: var(--tds-spacing-6);
	right: var(--tds-spacing-6);
}

#profile-card .footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#profile-card {
	box-sizing: unset;
}

#profile-card footer .social-links {
	margin-top: var(--tds-spacing-6);
}

#profile-card .heading .social-links {
	margin-top: var(--tds-spacing-2);
}

#profile-card .slug {
	border-radius: var(--tds-radius-md);
	border: 1px solid var(--tds-color-fog);
	max-width: 23rem;
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: var(--tds-spacing-6);
}

#profile-card .slug-icon {
	width: auto;
	height: var(--tds-spacing-3);
	margin-right: var(--tds-spacing-3);
	margin-left: var(--tds-spacing-3);
	flex-shrink: 1;
	margin-top: 1px;
}

#profile-card .slug-value {
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	text-transform: none;
	white-space: nowrap;
}

#profile-card .slug-url {
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--text-color);
	text-decoration: none;
	flex-grow: 1;
}

#profile-card .slug-url:hover,
#profile-card .slug-url:focus {
	text-decoration: underline;
	color: #005fb2;
}

#profile-card .foot {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#profile-card .card__body_inner {
	padding: 0 var(--tds-spacing-6) var(--tds-spacing-6);
}

#profile-card .card__action {
	margin-right: calc(-1 * var(--tds-spacing-1));
	margin-top: calc(-1 * var(--tds-spacing-1));
	flex: none;
}

#profile-card header {
	padding: var(--tds-spacing-6) var(--tds-spacing-6) var(--tds-spacing-6);
	margin: 0 0 var(--tds-spacing-3);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#profile-card > div > div.heading > div.avatar > div > div > div > button > svg {
	left: 23%;
}

#profile-card > div > div.edit > button > svg {
	left: 20%;
}

#profile-card > div > div.footer > div > button > svg,
#profile-card > div > div.heading > div.avatar > div > div > div > button > svg,
#profile-card > div > div.edit > button > svg {
	width: var(--tds-icon-size, var(--tds-spacing-5));
	height: var(--tds-icon-size, var(--tds-spacing-5));
}
